.header {
    background-color: #56baed;
}

.example-spacer {
    flex: 1 1 auto;
}

.logout-btn {
    border-color: #fff;
    border-width: 2px;
}

.sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    width: 250px;
    max-width: 100%;
}

.sidenav-content {
    padding-top: 30px;
}

.nav-list-item {
    color: #56baed;
}

.nav-icon {
    margin-right: 20px;
    color: #56baed;
}