<h1>List of all feedbacks</h1>


<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
      <thead>
        <tr>
        
          <th>Category</th>
          <th>Text</th>
          <th>Date</th>
          <th>Resolved</th>
          <th>Img</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedback of feedbacks">
  
          <td> {{ feedback.feedbackCategoryName }}</td>
          <td> {{ feedback.text }}</td>
          <td> {{ feedback.date }}</td>
          <td> {{ feedback.resolved }}</td>
          <td> {{ feedback.img }}</td>
          <td> {{ feedback.username }}</td>
         

          <td>
            
            <button class="btn btn-primary" (click)="selectFeedback(feedback)"> Show details</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="card text-center" *ngIf="selectedFeedback">
  <div class="card-header">
    # {{selectedFeedback.img}}
  </div>
  <div class="card-block">
    <h4 class="card-title">{{selectedFeedback.img}}</h4>
    <p class="card-text">
      {{selectedFeedback.text}}
    </p>    
  </div>

</div>

<!--<button class="btn btn-primary" *ngIf="selectedFeedback" (click)="deleteFeedback()"> Delete product</button>-->

<!--<div class="container" style="margin-top: 70px;" *ngIf="isadmin|async">-->

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        
        <input type="file" (change)="uploadFile($event)" accept="image/*;capture=camera">


       
        <input placeholder="FeedbackCategoryName" formControlName="FeedbackCategoryName">
        <input placeholder="text" formControlName="text">
        <input placeholder="date" formControlName="date">
        <input placeholder="username" formControlName="username">
       

        <button>Create</button>
       
    </form>
</div>
  <br>
  
  <div class="webcam-image" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl" formControlName="file" />
  </div>

 


<div *ngIf="isCameraExist; else noCameraExist">
  <div style="text-align:center">
      <div class="btn-group">
          <button class="button" (click)="takeSnapshot()">Take Picture</button>
          <button class="button" (click)="changeWebCame(true)">Toggle Camera</button>
          <button class="button" (click)="onOffWebCame()">Switch camera</button>
      </div> <br />
      <webcam [height]="500" [width]="1000" [trigger]="triggerObservable"  (imageCapture)="handleImage($event)" 
          *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
  </div>
  <img href="">


  

  <div *ngIf="errors.length > 0">
      <h4>Error Messages:</h4>
      <ul *ngFor="let error of errors">
          <li>{{ error | json }}</li>
      </ul>
  </div>
</div>

<ng-template #noCameraExist>
  Camera device not available
</ng-template>