.container {
    text-align: center;
    margin: 0 20px;
}

.table {
    width: 100%;
}

.header {
    background-color: #39ace7;
}

.header-item {
    width: 50%;
    color: #fff;
}

.header-email-item {
    width: 50%;
    color: #fff;
    position: relative;
}

.icon {
    color: #fff;
}

.table-cell {
    text-align: left;
}

.action-btn {
    position: absolute;
    right: 10%;
    bottom: 8px;
}

.column-name {
    font-size: 16px;
}