<div class="container mat-elevation-z8">
    <table class="mat-table table" aria-describedby="store check receivers">
        <tr class="mat-header-row header">
            <th class="mat-header-cell header-item column-name">Receiver</th>
            <th class="mat-header-cell header-email-item column-name">Email
                <button mat-icon-button class="action-btn" color="primary" *ngIf="!storeCheckReceivers">
                    <mat-icon (click)="openDialog(1)" class="icon">add</mat-icon>
                </button>
                <button mat-icon-button class="action-btn" color="primary" *ngIf="storeCheckReceivers">
                    <mat-icon class="icon" area-label="Edit"
                        (click)="openDialog(2, storeCheckReceivers.generalDirector, storeCheckReceivers.salesDirector, storeCheckReceivers.sectorDirector, storeCheckReceivers.marketing, storeCheckReceivers.manager)"> edit
                    </mat-icon>
                </button>
            </th>
        </tr>
        <tr class="mat-row" *ngIf="storeCheckReceivers">
            <td class="mat-cell table-cell">General director</td>
            <td class="mat-cell table-cell">{{ storeCheckReceivers.generalDirector }}</td>
        </tr>
        <tr class="mat-row" *ngIf="storeCheckReceivers">
            <td class="mat-cell table-cell">Sales director</td>
            <td class="mat-cell table-cell">{{ storeCheckReceivers.salesDirector }}</td>
        </tr>
        <tr class="mat-row" *ngIf="storeCheckReceivers">
            <td class="mat-cell table-cell">Sector director</td>
            <td class="mat-cell table-cell">{{ storeCheckReceivers.sectorDirector }}</td>
        </tr>
        <tr class="mat-row" *ngIf="storeCheckReceivers">
            <td class="mat-cell table-cell">Manager</td>
            <td class="mat-cell table-cell">{{ storeCheckReceivers.manager }}</td>
        </tr>
        <tr class="mat-row" *ngIf="storeCheckReceivers">
            <td class="mat-cell table-cell">Marketing</td>
            <td class="mat-cell table-cell">{{ storeCheckReceivers.marketing }}</td>
        </tr>
    </table>
</div>