<div class="header first">
    <img src="../../../assets/Store Metrics Logo PNG.png" alt="SC icon" width="80" height="80" style="float:left;">
    <h2 style="height:80px;"> <span>Promo Management</span> </h2>
</div>

<mat-radio-group aria-label="Select an option" (change)="changeType($event)">
    <mat-radio-button value="PROMO_LIST" checked="true">Promo list</mat-radio-button>
    <mat-radio-button value="MY_CONFIRMATION" *ngIf="isEvaluator">My confirmation</mat-radio-button>
</mat-radio-group>

<div class="filters">
    <mat-form-field *ngIf="type === 'PROMO_LIST'">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" #dateRangeStart>
            <input matEndDate placeholder="End date" #dateRangeEnd
                (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
</div>

<div *ngIf="type === 'PROMO_LIST'" class="filters">
    <form class="example-form">
        <mat-form-field class="form-field">
            <mat-label>Retailer</mat-label>
            <input type="text" placeholder="Retailer name" aria-label="Retailer" matInput
                [formControl]="retailerFormControl" [matAutocomplete]="retailerAuto">
            <mat-autocomplete autoActiveFirstOption #retailerAuto="matAutocomplete" (closed)="getPromos(false)">
                <mat-option *ngFor="let option of filteredRetailerNames | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Product category</mat-label>
            <input type="text" placeholder="Product category name" aria-label="Product category" matInput
                [formControl]="productCategoryFormControl" [matAutocomplete]="productCategoryAuto">
            <mat-autocomplete autoActiveFirstOption #productCategoryAuto="matAutocomplete" (closed)="getPromos(false)">
                <mat-option *ngFor="let option of filteredProductCategoryNames | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

<div>
    <div class="table mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
            <ng-container matColumnDef="retailer">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="whitetext column-name">Partner</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.retailerName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Item</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.productName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Start</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.dateStart | date:'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">End</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.dateEnd | date:'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="rebate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb %</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.rebate }}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb
                    (On/Off)</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="expenses">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Fix
                    investment Net</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.expenses }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="regularSale">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reg
                    sale</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.regularSale }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimatePromoSale">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est sale
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.estimatePromoSale
                    }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimateUplift">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    uplift</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{
                    format(row.estimatePromoSale,row.regularSale)}}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="uplift">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Act
                    Uplift</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ format(row.resultSale, row.regularSale)
                    }}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimateRopi">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    ROPI</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ (row.estimateRopi * 100 -
                    100).toFixed(2)}}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ropi">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Act
                    ROPI</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ (row.ropi * 100 - 100).toFixed(2)}}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimateRopiCash">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    ROPI
                    abs</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateRopiCash | number:'':'es'}}
                    din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ropiCash">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Act
                    ROPI
                    abs</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.ropiCash | number:'':'es'}} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="promoGp2">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo
                    GP
                    2</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ (row.gp2 * 100).toFixed(2) }}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="resultSalePercent">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Result
                    sale</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.resultSale}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimatePromoSaleCash">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Estimate promo sale
                    cash</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.estimatePromoSaleCash
                    }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ropiDifference">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI
                    difference</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ ((row.ropi - row.estimateRopi) * 100 - 100).toFixed(2)}}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ropiCashDifference">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI
                    cash difference</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.ropiCash - row.estimateRopiCash}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" *ngIf="type === 'PROMO_LIST'">
                        <mat-icon (click)="openDialog(1, false)" class="whitetext">add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell class="action-cell" *matCellDef="let row; let i=index">
                    <button *ngIf="type === 'PROMO_LIST' && row.confirmed && !row.resultSale" mat-icon-button
                        color="primary">
                        <mat-icon area-label="Actual">check_circle</mat-icon>
                    </button>
                    <button *ngIf="type === 'PROMO_LIST' && !row.confirmed && !row.declined" mat-icon-button
                        color="primary">
                        <mat-icon area-label="For confirmation">access_time</mat-icon>
                    </button>
                    <button *ngIf="type === 'PROMO_LIST' && row.declined" mat-icon-button color="primary">
                        <mat-icon area-label="Declined">close</mat-icon>
                    </button>
                    <button *ngIf="type === 'PROMO_LIST' && row.resultSale" mat-icon-button color="primary">
                        <mat-icon area-label="Finished">done_all</mat-icon>
                    </button>
                    <button *ngIf="type === 'PROMO_LIST'" mat-icon-button color="primary"
                        (click)="openDialog(6,false,row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, '', '', row.rebate, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, 0, row.gp2)">
                        <mat-icon area-label="Copy">filter_none</mat-icon>
                    </button>
                    <button mat-stroked-button color="primary" *ngIf="type === 'MY_CONFIRMATION'"
                        (click)="openDialog(2,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp2)"><a
                            class=fix style="color:green">Confirm</a>
                    </button>

                    <button mat-icon-button color="primary" *ngIf="type!='MY_CONFIRMATION'"
                        (click)="openDialog(3,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp2)">
                        <mat-icon area-label="Delete">delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="type==='MY_CONFIRMATION'"
                        (click)="openDialog(3,true, row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp2)">
                        <p style="color:red">Decline</p>
                    </button>

                    <button mat-icon-button color="primary"
                        *ngIf="type === 'PROMO_LIST' && !row.resultSale && calculateDiff(row.dateEnd) >= 3"
                        (click)="openDialog(4,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp2)">
                        <mat-icon area-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary"
                        (click)="openDialog(5,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp2)">
                        <mat-icon area-label="Info">info</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-toolbar color="primary" *ngIf="noData" class="noDataMessage">No promos</mat-toolbar>
        <mat-paginator *ngIf="dataSource" [pageIndex]="page-1" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]"
            [length]="length" (page)="loadDataOnPageEvent($event)">
        </mat-paginator>
    </div>
    <div>
        <button mat-stroked-button color="primary" class="item2 resolve-fb fadeIn third center"
            [routerLink]="['/modules']">Exit<mat-icon>exit_to_app</mat-icon></button>
    </div>