.mat-header-cell {
    background: #56baed;
}

.whitetext {
    color: white;
}

.column-name {
    font-size: 16px;
}

.noDataMessage {
    background-color: white;
    color: #56baed;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}