.header {
    text-align: center;
    height: 80px;
    background-color: #56baed;
    color: #fff;
    line-height: 80px;
    font-family: sans-serif;
}

.mat-header-cell {
    background: #56baed;
}

.whitetext {
    color: white;
}

.column-name {
    font-size: 16px;
}

.noDataMessage {
    background-color: white;
    color: #56baed;
}

.mat-radio-button {
    margin: 32px 16px;
}