<div class="header first">
    <img src="../../../assets/Store Metrics Logo PNG.png" alt="SC icon" width="80" height="80" style="float:left;">
    <h2 style="height:80px;"> <span>Promo Management</span> </h2>
</div>

<mat-radio-group class="radioGroup" aria-label="Select an option" (change)="changeState($event)">
    <div>
    <mat-radio-button value="PROMO_LIST" checked="true">Promo list</mat-radio-button>
</div>
  <div>
    <mat-radio-button value="DECLINED">Declined</mat-radio-button>
</div>
<div class="leftMargin">
    <mat-radio-button  value="MY_CONFIRMATION">For confirmation</mat-radio-button>
</div>
</mat-radio-group>

<mat-accordion *ngIf="type === 'PROMO_LIST'">
    <mat-expansion-panel class="expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filters
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState ? 'Close filters' : 'Open filters'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="filters">
            <mat-form-field class="form-field" *ngIf="type === 'PROMO_LIST'">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" #dateRangeStart>
                    <input matEndDate placeholder="End date" #dateRangeEnd
                        (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

      <!--      <mat-form-field class="form-field">
                <mat-label>State</mat-label>
                <mat-select [(ngModel)]="state" (selectionChange)="getPromos(false)">
                    <mat-option *ngFor="let state of states" [value]="state.value">
                        {{state.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>-->

            <mat-form-field class="form-field">
                <mat-label>Retailer</mat-label>
                <input type="text" placeholder="Retailer name" aria-label="Retailer" matInput
                    [formControl]="retailerFormControl" [matAutocomplete]="retailerAuto">
                <mat-autocomplete autoActiveFirstOption #retailerAuto="matAutocomplete" (closed)="getPromos(false)">
                    <mat-option *ngFor="let option of filteredRetailerNames | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Product</mat-label>
                <input type="text" placeholder="Product name" aria-label="Product" matInput
                    [formControl]="productFormControl" [matAutocomplete]="productAuto">
                <mat-autocomplete autoActiveFirstOption #productAuto="matAutocomplete" (closed)="getPromos(false)">
                    <mat-option *ngFor="let option of filteredProductNames | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Creator</mat-label>
                <input type="text" placeholder="Creator name" aria-label="Creator" matInput
                    [formControl]="userFormControl" [matAutocomplete]="userAuto">
                <mat-autocomplete autoActiveFirstOption #userAuto="matAutocomplete" (closed)="getPromos(false)">
                    <mat-option *ngFor="let option of filteredUserNames | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </mat-expansion-panel>
</mat-accordion>


      <div class="title" *ngIf="state!='DECLINED' && type!='MY_CONFIRMATION'">  <h2>Unfinished</h2> </div>
      <div class="title" *ngIf="state=='DECLINED'">  <h2>Declined</h2> </div>
      <div class="title" *ngIf="type=='MY_CONFIRMATION'">  <h2>My confirmation</h2> </div>
        <div>
        <div class="table mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <ng-container matColumnDef="retailer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        class="whitetext column-name">Partner</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.retailerName }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="product">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Item</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.productName }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Start</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.dateStart | date:'dd/MM/yyyy' }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">End</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.dateEnd | date:'dd/MM/yyyy' }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="rebate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb %</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.rebate }}%</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb
                        (On/Off)</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="expenses">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Fix
                        investment Net</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.expenses }} din</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="regularSale">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reg
                        sale</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.regularSale }} din</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="estimatePromoSale">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est sale
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.estimatePromoSale
                        }} din</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="estimateUplift">
                    <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                        uplift</mat-header-cell>
                    <mat-cell class="text-bold" *matCellDef="let row">{{
                        format(row.estimatePromoSale,row.regularSale)}}%</mat-cell>
                </ng-container>
    
    
                <ng-container matColumnDef="estimateRopi">
                    <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                        GP Uplift %</mat-header-cell>
                    <mat-cell class="text-bold" *matCellDef="let row">{{ (row.estimateRopi * 100 -
                        100).toFixed(2)}}%</mat-cell>
                </ng-container>
    
    
                <ng-container matColumnDef="estimateRopiCash">
                    <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                        GP Uplift Abs</mat-header-cell>
                    <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateRopiCash | number:'':'es'}}
                        din</mat-cell>
                </ng-container>
    
    
                
    
                <ng-container matColumnDef="estimateGP">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est SKU Promo GP</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.estimateGP}}%</mat-cell>
                </ng-container>

                
                <ng-container matColumnDef="estimateGPCash">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est SKU Promo GP abs</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.estimateGPCash}} din</mat-cell>
                </ng-container>

    
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button color="primary" *ngIf="type === 'PROMO_LIST'">
                            <mat-icon (click)="openDialog(1, false)" class="whitetext">add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell class="action-cell" *matCellDef="let row; let i=index">

                        <!-- POTVRDJENO, CEKA REZULTAT-->
                        <button *ngIf="type === 'PROMO_LIST' && row.confirmed && !row.resultSale && isDateBeforeToday(row.dateEnd)" mat-icon-button 
                            color="primary">
                            <mat-icon area-label="Actual">error</mat-icon>
                        </button>
                        <!-- CEKA POTVRDU -->
                        <button *ngIf="type === 'PROMO_LIST' && !row.confirmed && !row.declined" mat-icon-button
                            color="primary">
                            <mat-icon area-label="For confirmation">help_outline</mat-icon>
                        </button>
                         <!-- TRAJE -->
                         <button *ngIf="type === 'PROMO_LIST' && !row.declined && row.confirmed && isDateBeforeToday(row.dateEnd)==false" mat-icon-button
                         color="primary">
                         <mat-icon area-label="For confirmation">access_time</mat-icon>
                     </button>
                        <!-- DECLINED -->
                        <button *ngIf="type === 'PROMO_LIST' && row.declined" mat-icon-button color="primary">
                            <mat-icon area-label="Declined">close</mat-icon>
                        </button>
                        <!-- ZAVRSENA -->
                        <button *ngIf="type === 'PROMO_LIST' && row.resultSale" mat-icon-button color="primary">
                            <mat-icon area-label="Finished">check_circle</mat-icon>
                        </button>
                        <button *ngIf="type === 'PROMO_LIST'" mat-icon-button color="primary"
                            (click)="openDialog(6,false,row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, '', '', row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, 0, row.gp)">
                            <mat-icon area-label="Copy">filter_none</mat-icon>
                        </button>
                        <button mat-stroked-button color="primary" *ngIf="type === 'MY_CONFIRMATION'"
                            (click)="openDialog(2,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)"><a
                                class=fix style="color:green">Confirm</a>
                        </button>
    
                        <button mat-icon-button color="primary" *ngIf="type!='MY_CONFIRMATION' && row.creatorUsername == loggedUser"
                            (click)="openDialog(3,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                            <mat-icon area-label="Delete">delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" *ngIf="type==='MY_CONFIRMATION'"
                            (click)="openDialog(3,true, row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                            <p style="color:red">Decline</p>
                        </button>
    
                        <button mat-icon-button color="primary"
                            *ngIf="row.creatorUsername == loggedUser && type === 'PROMO_LIST' && !row.resultSale && calculateDiff(row.dateEnd) >= 3"
                            (click)="openDialog(4,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                            <mat-icon area-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary"
                            (click)="openDialog(5,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                            <mat-icon area-label="Info">info</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumnsUnfinished"></mat-header-row>
                <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumnsUnfinished"></mat-row>
            </mat-table>
            <mat-toolbar color="primary" *ngIf="noData" class="noDataMessage">No promos</mat-toolbar>
            <mat-paginator *ngIf="dataSource" [pageIndex]="page-1" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]"
                [length]="length" (page)="loadDataOnPageEvent($event)">
            </mat-paginator>
        </div>

      <div class="title" *ngIf="state!='DECLINED' && type!='MY_CONFIRMATION'">  <h2>Finished</h2> </div>
<div>
    <div class="table mat-elevation-z8" *ngIf="state!='DECLINED' && type!='MY_CONFIRMATION'">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
            <ng-container matColumnDef="retailer">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="whitetext column-name">Partner</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.retailerName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Item</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.productName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Start</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.dateStart | date:'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">End</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.dateEnd | date:'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="rebate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb %</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.rebate }}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb
                    (On/Off)</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="expenses">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Fix
                    investment Net</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.expenses }} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Price</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.price }} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="regularSale">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reg
                    sale</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.regularSale }} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimatePromoSale">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est sale
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.estimatePromoSale
                    }} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimateUplift">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    uplift</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{
                    format(row.estimatePromoSale,row.regularSale)}}%</mat-cell>
            </ng-container>


            <ng-container matColumnDef="estimateRopi">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    GP Uplift %</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ (row.estimateRopi * 100 -
                    100).toFixed(2)}}%</mat-cell>
            </ng-container>


            <ng-container matColumnDef="estimateRopiCash">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    GP Uplift Abs</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateRopiCash | number:'':'es'}}
                    din</mat-cell>
            </ng-container>




            <ng-container matColumnDef="estimateGP">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    SKU Promo GP</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateGP}}%</mat-cell>
            </ng-container>


            <ng-container matColumnDef="estimateGPCash">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est SKU Promo GP
                    abs</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateGPCash |
                    number:'':'es'}}
                    din</mat-cell>
            </ng-container>


            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" *ngIf="type === 'PROMO_LIST'">
                        <mat-icon (click)="openDialog(1, false)" class="whitetext">add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell class="action-cell" *matCellDef="let row; let i=index">
                     <!-- POTVRDJENO, CEKA REZULTAT-->
                     <button *ngIf="type === 'PROMO_LIST' && row.confirmed && !row.resultSale && isDateBeforeToday(row.dateEnd)" mat-icon-button 
                     color="primary">
                     <mat-icon area-label="Actual">error</mat-icon>
                 </button>
                 <!-- CEKA POTVRDU -->
                 <button *ngIf="type === 'PROMO_LIST' && !row.confirmed && !row.declined" mat-icon-button
                     color="primary">
                     <mat-icon area-label="For confirmation">help_outline</mat-icon>
                 </button>
                  <!-- TRAJE -->
                  <button *ngIf="type === 'PROMO_LIST' && !row.declined && row.confirmed && isDateBeforeToday(row.dateEnd)==false" mat-icon-button
                  color="primary">
                  <mat-icon area-label="For confirmation">access_time</mat-icon>
              </button>
                 <!-- DECLINED -->
                 <button *ngIf="type === 'PROMO_LIST' && row.declined" mat-icon-button color="primary">
                     <mat-icon area-label="Declined">close</mat-icon>
                 </button>
                 <!-- ZAVRSENA -->
                 <button *ngIf="type === 'PROMO_LIST' && row.resultSale" mat-icon-button color="primary">
                     <mat-icon area-label="Finished">check_circle</mat-icon>
                 </button>
                    <button *ngIf="type === 'PROMO_LIST'" mat-icon-button color="primary"
                        (click)="openDialog(6,false,row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, '', '', row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, 0, row.gp)">
                        <mat-icon area-label="Copy">filter_none</mat-icon>
                    </button>
                    <button mat-stroked-button color="primary" *ngIf="type === 'MY_CONFIRMATION'"
                        (click)="openDialog(2,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)"><a
                            class=fix style="color:green">Confirm</a>
                    </button>

                    <button mat-icon-button color="primary"
                        *ngIf="type!='MY_CONFIRMATION' && row.creatorUsername == loggedUser"
                        (click)="openDialog(3,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <mat-icon area-label="Delete">delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="type==='MY_CONFIRMATION'"
                        (click)="openDialog(3,true, row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <p style="color:red">Decline</p>
                    </button>

                    <button mat-icon-button color="primary"
                        *ngIf="row.creatorUsername == loggedUser && type === 'PROMO_LIST' && !row.resultSale && calculateDiff(row.dateEnd) >= 3"
                        (click)="openDialog(4,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <mat-icon area-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary"
                        (click)="openDialog(5,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <mat-icon area-label="Info">info</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsUnfinished"></mat-header-row>
            <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumnsUnfinished"></mat-row>
        </mat-table>
        <mat-toolbar color="primary" *ngIf="noData" class="noDataMessage">No promos</mat-toolbar>
        <mat-paginator *ngIf="dataSource" [pageIndex]="page-1" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]"
            [length]="length" (page)="loadDataOnPageEvent($event)">
        </mat-paginator>
    </div>
    <!--
    <div class="title" *ngIf="state=='DECLINED'">  <h2>Declined</h2> </div>
    <div class="table mat-elevation-z8" *ngIf="state=='DECLINED'">
        <mat-table #table [dataSource]="dataSourceDeclined" matSort class="mat-cell">
            <ng-container matColumnDef="retailer">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    class="whitetext column-name">Partner</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.retailerName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Item</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.productName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Start</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.dateStart | date:'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">End</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.dateEnd | date:'dd/MM/yyyy' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="rebate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb %</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.rebate }}%</mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reb
                    (On/Off)</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="expenses">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Fix
                    investment Net</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.expenses }} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="regularSale">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Reg
                    sale</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.regularSale }} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimatePromoSale">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est sale
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.estimatePromoSale
                    }} din</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estimateUplift">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    uplift</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{
                    format(row.estimatePromoSale,row.regularSale)}}%</mat-cell>
            </ng-container>


            <ng-container matColumnDef="estimateRopi">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                 GP Uplift %</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ (row.estimateRopi * 100 -
                    100).toFixed(2)}}%</mat-cell>
            </ng-container>


            <ng-container matColumnDef="estimateRopiCash">
                <mat-header-cell class="text-bold" *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    GP Uplift Abs</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateRopiCash | number:'':'es'}}
                    din</mat-cell>
            </ng-container>




            <ng-container matColumnDef="estimateGP">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est
                    SKU Promo GP</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateGP}}%</mat-cell>
            </ng-container>


            <ng-container matColumnDef="estimateGPCash">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Est SKU Promo GP
                    abs</mat-header-cell>
                <mat-cell class="text-bold" *matCellDef="let row">{{ row.estimateGPCash |
                    number:'':'es'}}
                    din</mat-cell>
            </ng-container>


            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" *ngIf="type === 'PROMO_LIST'">
                        <mat-icon (click)="openDialog(1, false)" class="whitetext">add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell class="action-cell" *matCellDef="let row; let i=index">
                     
                     <button *ngIf="type === 'PROMO_LIST' && row.confirmed && !row.resultSale && isDateBeforeToday(row.dateEnd)" mat-icon-button 
                     color="primary">
                     <mat-icon area-label="Actual">error</mat-icon>
                 </button>
              
                 <button *ngIf="type === 'PROMO_LIST' && !row.confirmed && !row.declined" mat-icon-button
                     color="primary">
                     <mat-icon area-label="For confirmation">help_outline</mat-icon>
                 </button>
                
                  <button *ngIf="type === 'PROMO_LIST' && !row.declined && row.confirmed && isDateBeforeToday(row.dateEnd)==false" mat-icon-button
                  color="primary">
                  <mat-icon area-label="For confirmation">access_time</mat-icon>
              </button>
               
                 <button *ngIf="type === 'PROMO_LIST' && row.declined" mat-icon-button color="primary">
                     <mat-icon area-label="Declined">close</mat-icon>
                 </button>
               
                 <button *ngIf="type === 'PROMO_LIST' && row.resultSale" mat-icon-button color="primary">
                     <mat-icon area-label="Finished">check_circle</mat-icon>
                 </button>
                    <button *ngIf="type === 'PROMO_LIST'" mat-icon-button color="primary"
                        (click)="openDialog(6,false,row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, '', '', row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, 0, row.gp)">
                        <mat-icon area-label="Copy">filter_none</mat-icon>
                    </button>
                    <button mat-stroked-button color="primary" *ngIf="type === 'MY_CONFIRMATION'"
                        (click)="openDialog(2,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)"><a
                            class=fix style="color:green">Confirm</a>
                    </button>

                    <button mat-icon-button color="primary"
                        *ngIf="type!='MY_CONFIRMATION' && row.creatorUsername == loggedUser"
                        (click)="openDialog(3,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <mat-icon area-label="Delete">delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="type==='MY_CONFIRMATION'"
                        (click)="openDialog(3,true, row.promoId,row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <p style="color:red">Decline</p>
                    </button>

                    <button mat-icon-button color="primary"
                        *ngIf="row.creatorUsername == loggedUser && type === 'PROMO_LIST' && !row.resultSale && calculateDiff(row.dateEnd) >= 3"
                        (click)="openDialog(4,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <mat-icon area-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary"
                        (click)="openDialog(5,false, row.promoId, row.creatorUsername, row.retailerName, row.productName,row.declined,row.comment, row.dateStart, row.dateEnd, row.rebate,row.isRebateCascade, row.regularSale, row.type, row.estimateRopi, row.ropi, row.estimateRopiCash, row.ropiCash, row.estimatePromoSale, row.expenses, row.price, row.resultSale, row.gp)">
                        <mat-icon area-label="Info">info</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
     
            <mat-header-row *matHeaderRowDef="displayedColumnsUnfinished"></mat-header-row>
            <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumnsUnfinished"></mat-row>
        </mat-table>
        <mat-toolbar color="primary" *ngIf="noData" class="noDataMessage">No promos</mat-toolbar>
        <mat-paginator *ngIf="dataSource" [pageIndex]="page-1" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]"
            [length]="length" (page)="loadDataOnPageEvent($event)">
        </mat-paginator>
    </div>
       -->
        <div>
            <button mat-stroked-button color="primary" class="item2 resolve-fb fadeIn third center"
                [routerLink]="['/modules']">Exit<mat-icon>exit_to_app</mat-icon></button>
        </div>