<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Add retailer</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Add planogram to {{data.retailerName}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Delete {{data.retailerName}}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput id="name" name="text" placeholder="Retailer name" [(ngModel)]="data.retailerName" [disabled]="flag==2 || flag==3" required />
      </mat-form-field>
    </div>


    <form [formGroup]="tableForm" (ngSubmit)="submit()" *ngIf="flag ==2">
      <input  #fileInput mat-input type="file" (change)="uploadFile($event)" accept=".pdf" fromControlName="file" multiple/>
    </form>

    <div mat-dialog-actions>
      <div *ngIf="isLoading"
      style="display: flex; justify-content: center; align-items: center; background: white;color:#56baed">
      <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="20">
      </mat-progress-spinner>
    </div>
      <button class="test" mat-button (click)="close()">Cancel</button>
      <button class="test" mat-button type="submit" *ngIf="flag != 3" [disabled]="!data.retailerName"
      (click)="submit()">Add</button>
    <button class="test" mat-button type="submit" *ngIf="flag==3"
      (click)="delete()">Delete</button>

    </div>
  <br>
  <br>
  </form>
</div>
