<!-- <div class="center"><img src="assets\StoreCheckIcon3.png" alt="SC icon" width="100" height="100" class="center noresize"></div> -->
<div class="center">
    <img src="assets\StoreCheckIcon3.png" alt="Store Check" class="sc-icon">
</div>
<div class="menu fadeInDown">
    <div class="item start-sc fadeIn first" [routerLink]="['/chooseObject/addStoreCheck']">
        STORE CHECK
    </div>
    <div class="item resolve-fb fadeIn second" [routerLink]="['/chooseObject/resolveFeedbacks']">
        RESOLVE FEEDBACKS
    </div>
    <div class="item2 resolve-fb fadeIn third" (click)="logout()">
        LOG OUT
    </div>
</div>