<div class="center">
  <img src="../../../assets/Store Metrics Logo PNG.png" alt="Store Check" class="sc-icon">
</div>
<div class="menu fadeInDown">

  <div *ngIf="!menager" class="disableditem fadeIn second" [routerLink]="['/chooseObject/resolveFeedbacks']">
    <!-- ENABLE: [routerLink]="['/chooseObject/resolveFeedbacks']"-->
    <p>
      <img src="../../../assets/belo.png" width="50px" height="50px"
        style="margin-top:15px; float:left; margin-left:20px;">
    </p>
    <div style="justify-content: center;margin-right: 30px;">RESOLVE FEEDBACKS</div>
  </div>

  <div *ngIf="menager" class="disableditem fadeIn first">
    <!-- ENABLE: [routerLink]="['/chooseObject/addStoreCheck']"-->
    <p>
      <img src="../../../assets/belo.png" width="50px" height="50px"
        style="margin-top:15px; float:left; margin-left:20px;">
    </p>
    <div style="justify-content: center;margin-right: 50px;" [routerLink]="['/chooseObject/addStoreCheck']">STORE CHECK
    </div>
  </div>

  <div class="disableditem resolve-fb fadeIn second">
    <!-- ENABLE: [routerLink]="['/chooseObject/positions']"-->
    <p>
      <img src="../../../assets/belopoz.png" width="50px" height="50px"
        style="margin-top:15px; float:left; margin-left:20px;">
    </p>
    <div style="justify-content: center;margin-right: 30px;">SECONDARY POSITIONS</div>
  </div>

  <div class="disableditem resolve-fb fadeIn second">
    <!-- ENABLE: [routerLink]="['/product']"-->
    <p>
      <img src="../../../assets/icons8-barcode-scanner-64.png" width="50px" height="50px"
        style="margin-top:15px; float:left; margin-left:20px;">
    </p>
    <div style="justify-content: center;margin-right: 50px;">PRICE SCANNER</div>
  </div>

  <div class="disableditem resolve-fb fadeIn second">
    <!-- ENABLE: [routerLink]="['/chooseObject/returns']"-->
    <p>
      <img src="../../../assets/icons8-u-turn-to-left-30.png" width="50px" height="50px"
        style="margin-top:15px; float:left; margin-left:20px;">
    </p>
    <div style="justify-content: center;margin-right: 50px;">RETURNS</div>
  </div>

  <button mat-stroked-button color="primary" class="item2 resolve-fb"
    [routerLink]="['/modules']">Exit<mat-icon>exit_to_app</mat-icon></button>

  <!--
  <button mat-raised-button class="fadeIn" color="primary" color="nortz" (click)="logout()">
      <strong>Log out </strong> <mat-icon>logout</mat-icon></button>

    -->

</div>