<div class="dashboard" *ngIf="flag === 1">

    <div class="filter-section">
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedUser" (click)="selectUser('')">{{
            selectedUser }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedRetailer" (click)="selectRetailer('')">{{
            selectedRetailer }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedObject" (click)="selectObject('')">{{
            selectedObject }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedMonth" (click)="selectMonth('')">{{
            selectedMonth }} <mat-icon>close</mat-icon></button>
    </div>

    <button (click)="send()"> send</button>

    <div class="table-section">
        <div class="table-section-item">
            <app-user [isDashboard]="true" (selectedUser)="selectUser($event)"></app-user>
        </div>
        <div class="table-section-item">
            <app-retailer [isDashboard]="true" (selectedRetailer)="selectRetailer($event)"></app-retailer>
        </div>
        <div class="table-section-item">
            <app-object [isDashboard]="true" (selectedObject)="selectObject($event)"></app-object>
        </div>
    </div>

    <!--
    <div class="month-section">
        <button mat-stroked-button [class]="selectedMonth === month ? 'selected-month-btn' : 'month-btn'"
            *ngFor="let month of months" (click)="selectMonth(month)">{{ month }}</button>
    </div> -->
<div class="centered div-container">
  <div class="div-element">
<mat-form-field appearance="fill">
  <mat-label>Year</mat-label>
  <mat-select (selectionChange)="setYear($event)">
    <mat-option *ngFor="let year of years" [value]="year">
      {{year}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div class="div-element">
<mat-form-field appearance="fill">
  <mat-label>Month</mat-label>
  <mat-select (selectionChange)="setMonth($event.value)">
    <mat-option *ngFor="let month of months" [value]="month">
      {{month}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div class="div-element">
<mat-form-field appearance="fill">
  <mat-label>Day</mat-label>
  <mat-select (selectionChange)="setDay($event)">
    <mat-option *ngFor="let day of days2" [value]="day">
      {{day}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
</div>


    <mat-grid-list rowHeight="220px" [cols]="breakpoint" (window:resize)="onResize($event)">
        <mat-grid-tile class="test-grid-title" [colspan]="breakpoint">
            <mat-card>
                <mat-card-content>
                    <app-number-card-chart></app-number-card-chart>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="test-grid-title" colspan="2" rowspan="2">
            <mat-card>
                <mat-card-title>Feedback categories</mat-card-title>
                <mat-card-content>
                    <app-vertical-bar-chart [data]="feedbackCategoryResult" *ngIf="feedbackCategoryResult">
                    </app-vertical-bar-chart>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="test-grid-title" colspan="2" rowspan="2">
            <mat-card>
                <mat-card-title>Product categories</mat-card-title>
                <mat-card-title>
                    <pie-chart [data]="productCategoryResult" *ngIf="productCategoryResult"></pie-chart>
                </mat-card-title>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <app-advanced-pie-chart [data]="productCategoryResult" *ngIf="productCategoryResult"></app-advanced-pie-chart>
    <pie-chart [data]="productCategoryResult" *ngIf="productCategoryResult"></pie-chart>

</div>
