<!-- <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize="true">
    <mat-sidenav #sidenav class="sidenav" mode="side" [(opened)]="opened" [fixedInViewport]="false" [fixedTopGap]="0"
        [fixedBottomGap]="0">
        <mat-nav-list>
            <a mat-list-item class="nav-list-item" (click)="changePage(1,'Dashboard')">
                <mat-icon class="nav-icon">dashboard</mat-icon>Dashboard
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item class="nav-list-item" (click)="changePage(2,'Users')">
                <mat-icon class="nav-icon">supervised_user_circle</mat-icon>Users
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item class="nav-list-item" (click)="changePage(3,'Objects')">
                <mat-icon class="nav-icon">store</mat-icon>Objects
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item class="nav-list-item" (click)="changePage(4,'Retailers')">
                <mat-icon class="nav-icon">vertical_split</mat-icon>Retailers
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item class="nav-list-item" (click)="changePage(5,'Store Check Receivers')">
                <mat-icon class="nav-icon">email</mat-icon>Store Check Receivers
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content"> -->
        <div class="dashboard" *ngIf="flag === 1">
            <mat-grid-list rowHeight="220px" [cols]="breakpoint"  (window:resize)="onResize($event)">
                <mat-grid-tile class="test-grid-title" [colspan]="breakpoint">
                    <mat-card>
                        <mat-card-content>
                            <app-number-card-chart></app-number-card-chart>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title" colspan="2" rowspan="2">
                    <mat-card>
                        <mat-card-title>Feedbacks by object format</mat-card-title>
                        <mat-card-content>
                            <app-vertical-bar-chart></app-vertical-bar-chart>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title" colspan="2" rowspan="2">
                    <mat-card>
                        <mat-card-title>Feedbacks by category</mat-card-title>
                        <mat-card-title>
                            <app-advanced-pie-chart></app-advanced-pie-chart>
                        </mat-card-title>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title" colspan="2" rowspan="2">
                  <mat-card>
                      <mat-card-title>Top 3 Users by Feedbacks</mat-card-title>
                      <mat-card-content>
                          <pie-chart></pie-chart>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>
              <mat-grid-tile class="test-grid-title" colspan="2" rowspan="2">
                <mat-card>
                    <mat-card-title>Top 3 Resolvers by Feedbacks</mat-card-title>
                    <mat-card-content>
                        <pie-chart2></pie-chart2>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="test-grid-title" colspan="2" rowspan="2">
              <mat-card>
                  <mat-card-title>Top 3 Objects by Feedbacks</mat-card-title>
                  <mat-card-content>
                      <pie-chart3></pie-chart3>
                  </mat-card-content>
              </mat-card>
          </mat-grid-tile>
            </mat-grid-list>


            <!-- <mat-grid-list [cols]="breakpoint" rowHeight="200px" (window:resize)="onResize($event)">
                <mat-grid-tile class="test-grid-title">
                    <mat-card>
                        <mat-card-content>1</mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title">
                    <mat-card>
                        <mat-card-content>2</mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title">
                    <mat-card>
                        <mat-card-content>3</mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title">
                    <mat-card>
                        <mat-card-content>4</mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile class="test-grid-title" colspan="2">
                    <mat-card>
                        <mat-card-content>5</mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title" colspan="2">
                    <mat-card>
                        <mat-card-content>6</mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list> -->

            <!-- <mat-grid-list rowHeight="200px" cols="12">
                <mat-grid-tile colspan="12">
                    <app-number-card-chart></app-number-card-chart>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title" colspan="5" rowspan="2">
                    <app-vertical-bar-chart></app-vertical-bar-chart>
                </mat-grid-tile>
                <mat-grid-tile class="test-grid-title" colspan="7" rowspan="2">
                    <app-advanced-pie-chart></app-advanced-pie-chart>
                </mat-grid-tile>
            </mat-grid-list> -->
        </div>

        <!-- <app-user *ngIf="flag === 2"></app-user>
        <app-object *ngIf="flag === 3"></app-object>
        <app-retailer *ngIf="flag === 4"></app-retailer>
        <app-store-check-receiver *ngIf="flag === 5"></app-store-check-receiver> -->


    <!-- </mat-sidenav-content>
</mat-sidenav-container> -->



<!-- <mat-toolbar class="footer">Footer</mat-toolbar> -->
