<div class="dashboard" *ngIf="flag === 1">

    <mat-card class="card">
        <mat-card-content class="card-content">
            <app-number-card-chart></app-number-card-chart>
        </mat-card-content>
    </mat-card>

    <div class="filter-section">
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedUser" (click)="selectUser('')">{{
            selectedUser }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedRetailer" (click)="selectRetailer('')">{{
            selectedRetailer }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedObject" (click)="selectObject('')">{{
            selectedObject }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedYear && !selectedMonth && !selectedDay"
            (click)="setYear('')">{{
            selectedYear }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedMonth && selectedYear && !selectedDay"
            (click)="setMonth(''); setYear('');">
            {{selectedMonth}}-{{ selectedYear }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedDay && selectedMonth && selectedYear"
            (click)="setDay(''); setMonth(''); setYear('');">
            {{ selectedDay }}-{{selectedMonth}}-{{selectedYear}} <mat-icon>close</mat-icon></button>
    </div>

    <div class="table-section">
        <div class="table-section-item">
            <app-user [isDashboard]="true" (selectedUser)="selectUser($event)"></app-user>
        </div>
        <div class="table-section-item">
            <app-retailer [isDashboard]="true" (selectedRetailer)="selectRetailer($event)"></app-retailer>
        </div>
        <div class="table-section-item">
            <app-object [isDashboard]="true" (selectedObject)="selectObject($event)"></app-object>
        </div>
    </div>

    <div class="centered div-container">
        <div class="div-element-first">
            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <mat-select (selectionChange)="setYear($event.value)" [value]="selectedYear">
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="div-element">
            <mat-form-field appearance="fill">
                <mat-label>Month</mat-label>
                <mat-select (selectionChange)="setMonth($event.value)" [disabled]="!selectedYear"
                    [value]="selectedMonth">
                    <mat-option *ngFor="let month of months" [value]="month">
                        {{month}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="div-element">
            <mat-form-field appearance="fill">
                <mat-label>Day</mat-label>
                <mat-select (selectionChange)="setDay($event.value)" [disabled]="!selectedMonth" [value]="selectedDay">
                    <mat-option *ngFor="let day of days2" [value]="day">
                        {{day}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="radio-group">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="resolved" (change)="radioBtnClicked()">
            <mat-radio-button [value]="false" color="primary" class="radio-group-item">Unresolved</mat-radio-button>
            <mat-radio-button [value]="true" color="primary" class="radio-group-item">Resolved</mat-radio-button>
        </mat-radio-group>

    </div>

    <mat-card class="card chart-card">
        <mat-card-title>Feedback categories</mat-card-title>
        <mat-card-content>
            <div class="chart">
                <app-vertical-bar-chart [data]="feedbackCategoryResult" *ngIf="feedbackCategoryResult">
                </app-vertical-bar-chart>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card chart-card">
        <mat-card-title>Product categories</mat-card-title>
        <mat-card-content>
            <div class="chart">
                <app-advanced-pie-chart [data]="productCategoryResult" [label]="'Total feedbacks'"
                    *ngIf="productCategoryResult">
                </app-advanced-pie-chart>
            </div>
        </mat-card-content>
    </mat-card>