<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Add return</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Update return</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Return sold</h3>
    <h3 mat-dialog-title *ngIf="flag == 4">Return preview</h3>



    <form class="mat-dialog-content" #formControl="ngForm" [formGroup]="myForm">

        <!-- <div *ngIf="flag !== 1 && flag !== 2" class="form">
            <mat-form-field>
                <input matInput placeholder="Product Id Company" [(ngModel)]="data.productIdCompany"
                    name="productIdCompany" [disabled]="flag === 3 || flag===4" required />
            </mat-form-field>
        </div> -->
        <div class="form">
            <mat-form-field>
                <input type="text" matInput placeholder="Product Name" (input)="getProducts()" [matAutocomplete]="auto"
                    [(ngModel)]="data.productName" name="productName" list="this.SearchResults"
                    [disabled]="flag === 3 || flag===4" required formControlName="productName" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith"
                    (optionSelected)="changeProduct($event)">
                    <mat-option *ngFor="let option of searchResults" [value]="option">
                        {{option.productName}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="myForm.controls['productName'].hasError('incorrect')">
                    Please select a valid product
                </mat-error>
            </mat-form-field>
        </div>
        <div class=" form">
            <mat-form-field>
                <input matInput placeholder="Quantity" [(ngModel)]="data.quantity" name="quantity"
                    formControlName="quantity" [disabled]="flag === 3 || flag===4" required />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Expiry Date" [(ngModel)]="data.expiryDate" name="expiryDate"
                    formControlName="expiryDate" [disabled]="flag === 3 || flag===4" required />
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Suggested Discount" [(ngModel)]="data.discount" name="discount"
                    formControlName="discount" [disabled]="flag === 3 || flag===4" required />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Comment" [(ngModel)]="data.comment" name="comment"
                    formControlName="comment" [disabled]="flag === 3 || flag===4" required />
            </mat-form-field>
        </div>


        <div mat-dialog-actions class="wrap">
            <button mat-button class="test" *ngIf="flag === 1" type="submit" (click)="add()"
                [disabled]="!formControl.valid">Ok</button>
            <button mat-button class="test" *ngIf="flag === 2" type="submit" (click)="update()"
                [disabled]="!formControl.valid">Ok</button>
            <button mat-button class="test" *ngIf="flag === 3" type="submit" (click)="sold()">Sold</button>
            <button mat-button class="test" (click)="close()">Cancel</button>
        </div>
    </form>
</div>