<div class="container">
    <h3 mat-dialog-title *ngIf="flag === 1">Add promotion</h3>
    <h3 mat-dialog-title *ngIf="flag === 2">Confirm promotion</h3>
    <h3 mat-dialog-title *ngIf="flag === 3 && !isDeclined">Delete promotion</h3>
    <h3 mat-dialog-title *ngIf="flag === 3 && isDeclined">Decline promotion</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <!-- <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Retailer</mat-label>
                <mat-select (selectionChange)="selectRetailer($event)" required name="retailer"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5" [value]="selectedRetailer">
                    <mat-option *ngFor="let retailer of retailers" [value]="retailer">
                        {{retailer.retailerName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <!-- <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Product</mat-label>
                <mat-select (selectionChange)="selectProduct($event)" required name="product"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5" [value]="selectedProduct">
                    <mat-option *ngFor="let product of products" [value]="product">
                        {{product.productName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Partner</mat-label>
                <input type="text" placeholder="Partner name" aria-label="Retailer" matInput name="retailerName"
                    [matAutocomplete]="retailerAuto" (input)="onRetailerInputChange($event)" required
                    [(ngModel)]="data.retailerName" [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
                <mat-autocomplete autoActiveFirstOption #retailerAuto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredRetailerNames" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <span *ngIf="showRetailerError" class="error-message">Invalid partner name</span>
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Item</mat-label>
                <input type="text" placeholder="Item name" aria-label="Product" matInput name="productName"
                    [matAutocomplete]="productAuto" (input)="onProductInputChange($event)" required
                    [(ngModel)]="data.productName" [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
                <mat-autocomplete autoActiveFirstOption #productAuto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredProductNames" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <span *ngIf="showProductError" class="error-message">Invalid item name</span>
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Choose start date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" (dateInput)="selectStartDate($event)" readonly
                    required name="startDate" [value]="data.dateStart"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Choose end date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" (dateInput)="selectEndDate($event)" readonly required
                    name="endDate" [value]="data.dateEnd"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Rebate %</mat-label>
                <input type="number" matInput [(ngModel)]="data.rebate" required name="rebate"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Reb (On/Off)</mat-label>
                <mat-select (selectionChange)="selectPromoType($event)" required name="type" [value]="data.type"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
                    <mat-option *ngFor="let promoType of promoTypes" [value]="promoType">
                        {{promoType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Reb (C/S)</mat-label>
                <mat-select (selectionChange)="selectRebateType($event)" required name="rebateType"
                    [value]="data.isRebateCascade ? 'Cascade' : (data.isRebateCascade==null ? '' : 'Summarized')"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
                    <mat-option *ngFor="let rebateType of rebateTypes" [value]="rebateType">
                        {{rebateType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Fix investment Net</mat-label>
                <input type="number" matInput [(ngModel)]="data.expenses" required name="expenses"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="(flag === 3|| flag === 4 || flag === 5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input type="number" matInput [(ngModel)]="data.price" name="price"
                    [disabled]="flag === 3 || flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Estimate promo sale</mat-label>
                <input type="number" matInput [(ngModel)]="data.estimatePromoSale" required name="estimatePromoSale"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Regular sale</mat-label>
                <input type="number" matInput [(ngModel)]="data.regularSale" required name="regularSale"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="(flag === 2 || flag === 3|| flag === 4 || flag === 5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Result sale</mat-label>
                <input type="number" matInput [(ngModel)]="data.resultSale" name="resultSale" [required]="flag === 4"
                    [disabled]="flag === 2 || flag === 3 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.estimatePromoSale && data.regularSale && (flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Estimate uplift</mat-label>
                <input type="number" matInput name="estimateUplift" [required]="flag === 4" disabled
                    [value]="((data.estimatePromoSale / data.regularSale) * 100 - 100).toFixed(2)">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.resultSale && data.regularSale && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Uplift</mat-label>
                <input type="number" matInput name="uplift" [required]="flag === 4" disabled
                    [value]="((data.resultSale / data.regularSale) * 100 - 100).toFixed(2)">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.estimateRopiCash && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Estimate abs ROPI</mat-label>
                <input type="number" matInput name="result" [required]="flag === 4" disabled
                    [value]="data.estimateRopiCash">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.resultSale && data.ropiCash && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>ROPI abs</mat-label>
                <input type="number" matInput name="ropiCash" [required]="flag === 4" disabled
                    [value]="data.ropiCash.toFixed(2)">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.estimateRopi && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Estimate ROPI</mat-label>
                <input type="number" matInput name="result" [required]="flag === 4" disabled
                    [value]="(data.estimateRopi * 100 - 100).toFixed(2)">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.resultSale && data.ropi && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Actual ROPI</mat-label>
                <input type="number" matInput name="result" [required]="flag === 4" disabled
                    [value]="(data.ropi * 100 - 100).toFixed(2)">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.estimateGP && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Estimate GP %</mat-label>
                <input type="number" matInput name="estimateGp" [required]="flag === 4" disabled
                    [value]="data.estimateGP.toFixed(2)">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined && flag !== 1 && flag !== 6">
            <mat-form-field appearance="fill">
                <mat-label>Est Promo GP 2 %</mat-label>
                <input type="number" matInput [value]="data.estimateGP" required name="estPromoGp2"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="!isDeclined && flag !== 1 && flag !== 6">
            <mat-form-field appearance="fill">
                <mat-label>Est Promo GP 2 abs</mat-label>
                <input type="number" matInput [value]="data.estimateGPCash" required name="estPromoGp2Abs"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="data.resultSale && !isDeclined && flag !== 1 && flag !== 6">
            <mat-form-field appearance="fill">
                <mat-label>Promo GP 2 %</mat-label>
                <input type="number" matInput [value]="data.gp" required name="promoGp2"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>


        <div class="form" *ngIf="data.resultSale && !isDeclined && flag !== 1 && flag !== 6">
            <mat-form-field appearance="fill">
                <mat-label>Promo GP 2 abs</mat-label>
                <input type="number" matInput [value]="data.gpCash" required name="promoGp2Abs"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.estimateGPCash && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>Estimate GP Abs</mat-label>
                <input type="number" matInput name="estimateGpCash" [required]="flag === 4" disabled
                    [value]="data.estimateGPCash.toFixed(2)">
            </mat-form-field>
        </div>

        <div class="form"
            *ngIf="data.gpCash && (flag === 1 || flag===2 || flag=== 4 || flag===3|| flag===5) && !isDeclined">
            <mat-form-field appearance="fill">
                <mat-label>GP Abs</mat-label>
                <input type="number" matInput [value]="data.gpCash.toFixed(2)" required name="gpCash"
                    [disabled]="flag === 2 || flag === 3|| flag === 4 || flag === 5">
            </mat-form-field>
        </div>

        <div class="form" *ngIf="(flag===3 || flag===5) && data.comment && data.comment !=''">
            <mat-form-field>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="200" placeholder="Comment" [disabled]="flag === 5 || !isDeclined"
                    [(ngModel)]="data.comment" name="comment" required> </textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions class=" wrap">
            <button mat-button class="test" *ngIf="flag === 1 || flag === 6" type="submit" (click)="add()"
                [disabled]="!formControl.valid  || showRetailerError || showProductError || !data.dateStart || !data.dateEnd">Ok</button>
            <button mat-button class="test" *ngIf="flag === 2" type="submit" (click)="confirmPromo()">Ok</button>
            <button mat-button class="test item2-delete" *ngIf="flag === 3 && !isDeclined" type="submit"
                (click)="delete()">Delete</button>
            <button mat-button class="test item2-delete" *ngIf="flag === 3 && isDeclined" type="submit"
                (click)="update(true)">Decline</button>
            <button mat-button class="test" *ngIf="flag === 4" type="submit" (click)="update(false)"
                [disabled]="!formControl.valid">Ok</button>
            <button mat-button class="test" (click)="close()">Cancel</button>
            <div *ngIf="isLoading"
                style="display: flex; justify-content: center; align-items: center; background: white;color:#56baed">
                <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="20">
                </mat-progress-spinner>
            </div>
        </div>
    </form>
</div>