.card-body {
    width: 100%;
    height: 100%;
    /* background-color: green; */
}

@media screen and (max-width: 1200px) {
    .card-body {
        width: 500px;
        /* background-color: yellow; */
    }
}

@media screen and (max-width: 1000px) {
    .card-body {
        width: 400px;
        /* background-color: red; */
    }
}

@media screen and (max-width: 800px) {
    .card-body {
        width: 600px;
        /* background-color: blue; */
    }
}

@media screen and (max-width: 600px) {
    .card-body {
        width: 400px;
        /* background-color: brown; */
    }
}

::ng-deep .advanced-pie-legend .legend-items-container {
    line-height: 32px;
}