<div class="header">
    <h1>Choose Object</h1>
</div>

<div class="main">
    <div class="search-object">
        <h4>ENTER ADDRESS OR NAME:</h4>
        <input class="search-input" type="text" placeholder="Search object" *ngIf="objects.length > 0">
        <table class="emails-tbl" *ngIf="objects.length > 0">
            <tr>
                <th>Addres</th>
                <th>Name</th>
                <th></th>
            </tr>
           <tr *ngFor="let object of objects">
               <td class="email-td">{{ object.address }}</td>
               <td class="email-td">{{ object.objectName }}</td>
               <td><i class="fa-solid fa-up-right-from-square"></i></td>
           </tr>
        </table>
        <app-object></app-object>
    </div>

    <div class="finish-sc" *ngIf="resolveFeedbacks == false">
        <h4>SEND STORE CHECK TO:</h4>
        <table class="emails-tbl">
            <tr>
                <td class="email-td">General director</td>
                <td class="check-box-td"><input type="checkbox"></td>
            </tr>
            <tr>
                <td class="email-td">Sector director</td>
                <td class="check-box-td"><input type="checkbox"></td>
            </tr>
            <tr>
                <td class="email-td">Sales director</td>
                <td class="check-box-td"><input type="checkbox"></td>
            </tr>
            <tr>
                <td class="email-td">Marketing</td>
                <td class="check-box-td"><input type="checkbox"></td>
            </tr>
            <tr>
                <td class="email-td">Manager</td>
                <td class="check-box-td"><input type="checkbox"></td>
            </tr>
        </table>
        <button class="btn-finish">FINISH STORE CHECK</button>
    </div>
</div>
