<div class="fadeInDown">

    <div class="header fadeIn first">

        <img src="assets\StoreCheckIcon3.png" alt="SC icon" width="80" height="80" style="float:left;">
        <h2 style="height:80px;"> <span>Choose Object</span> </h2>

    </div>

    <div class="main fadeIn second">
        <div class="search-object">
            <input class="search-input" type="text" placeholder="Search object" *ngIf="objects.length > 0">
            <app-object [workModel]="workModel" [isAdmin]="false"></app-object>
        </div>

        <div class="fadeIn third btn-group" style="margin-top:10px ;">

            <button mat-stroked-button color="primary" class="item2" (click)="openDialog()"
                *ngIf="workModel === 'addStoreCheck' && showFinishStoreCheck">Finish</button>


            <button mat-stroked-button color="primary" class="item2" style="margin-left:10px;"
                (click)="exit()">Exit</button>

        </div>
    </div>
</div>