
.font {
  padding: 0 20px;
}

.mat-header-cell {
  background: #56baed;
}

.centered{
  text-align:center;
}

.font{
  font-family: sans-serif;
}

.search{
  color:white;
  background-color:#56baed;
  margin: 2%;

}

.mat-spinner-color::ng-deep circle{
  stroke: #56baed !important;
  }
.whitetext{
  color:white;
}
