.font {
  padding: 0 20px;
  font-family: sans-serif;
}

.mat-header-cell {
  background: #56baed;
}

.centered {
  text-align: center;
}

.search {
  color: white;
  background-color: #56baed;
  margin: 2%;

}

.noDataMessage {
  background-color: white;
  color: #56baed;
}

.column-name {
  font-size: 16px;
}

.mat-spinner-color::ng-deep circle {
  stroke: #56baed !important;
}

.whitetext {
  color: white;
}




.mat-column-firstName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}
.mat-column-username {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}
.mat-column-lastName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}
.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}
.mat-column-userType {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;


  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}





