
<p class="warning-message"> Warning: Max allowed 1000 rows per Excel file.</p><br>
<p class="center font"> Don't exit this page while uploading excels partially!</p><br>

<div class="parentcontainer" style="margin-bottom: 5%;background-color:white;">
  <div class="container">
    <h3 class="uploadHeading " style="color:#56baed;">Objects</h3>
    <input type="file" #objectFileDropRef (change)="uploadObjectsFile($event)" id="objectFileDropRef" hidden />
    <BR>
    <!--<h3 style="margin:5%;color:#56baed;">Drag and drop file here</h3>-->

    <label for="objectFileDropRef" class="browseButton" *ngIf="isObjectsEmpty">Browse</label>
    <label class="browseButton" *ngIf="!isObjectsEmpty" (click)="exportObjects()">Export</label>
    <button mat-button color="warn" *ngIf="!isObjectsEmpty" (click)="deleteObjects()">Delete objects</button>
    <div class="download-template">
      <em id="download-obj-template" class="fa-solid fa-download fa-2x" (click)="downloadTemplate(1)"></em>
      <br>
      <label for="download-obj-template">Download template</label>
    </div>
    <br>
    <div *ngIf="isObjLoading"
      style="margin-top:15%;display: flex; justify-content: center; align-items: center; background: transparent;">
      <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="30">
      </mat-progress-spinner>
    </div>
  </div>

  <div class="container">
    <h3 class="uploadHeading " style="color:#56baed;">Positions</h3>
    <input type="file" #positionFileDropRef (change)="uploadPositionsFile($event)" id="positionFileDropRef" hidden />

    <BR>
    <!--<h3 style="margin:5%; color:#56baed;">Drag and drop file here</h3>-->
    <label for="positionFileDropRef" class="browseButton" *ngIf="isPositionsEmpty">Browse</label>
    <label class="browseButton" *ngIf="!isPositionsEmpty" (click)="openDialog(2)">Export</label>
    <button mat-button color="warn" *ngIf="!isPositionsEmpty" (click)="deletePositions()">Delete positions</button>

    <div class="download-template">
      <em id="download-obj-template" class="fa-solid fa-download fa-2x" (click)="downloadTemplate(2)"></em>
      <br>
      <label for="download-obj-template">Download template</label>
    </div>
    <br>
    <div *ngIf="isPosLoading"
      style="margin-top:15%;display: flex; justify-content: center; align-items: center; background: white; background: transparent;">
      <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="30">
      </mat-progress-spinner>
    </div>

    <br> 



    
  </div>



  <div class="container">
    <h3 class="uploadHeading " style="color:#56baed;">Products</h3>
    <input type="file" #productFileDropRef (change)="uploadProductsFile($event)" id="productFileDropRef" hidden />
    <br>
    <!--<h3 style="margin:5%;color:#56baed;">Drag and drop file here</h3>-->

    <label for="productFileDropRef" class="browseButton" *ngIf="isProductsEmpty">Browse</label>
    <label class="browseButton" *ngIf="!isProductsEmpty" (click)="openDialog(3)">Export</label>
    <button mat-button color="warn" *ngIf="!isProductsEmpty" (click)="deleteProducts()">Delete products</button>


    <div class="download-template">
      <em id="download-obj-template" class="fa-solid fa-download fa-2x" (click)="downloadTemplate(3)"></em>
      <br>
      <label for="download-obj-template">Download template</label>
    </div>
    <br>
    <div *ngIf="isProdLoading"
      style="margin-top:30%;display: flex; justify-content: center; align-items: center; background: white; background: transparent;">
      <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="30">
      </mat-progress-spinner>
    </div>
    
  </div>

</div>

<div class="parentcontainer" style="margin-bottom: 5%;background-color:white;">
  <div class="container">
    <h3 class="uploadHeading " style="color:#56baed;">Price Scanner</h3>
    <input type="file" #objectFileDropRef (change)="uploadPriceScansFile($event)" id="priceScanFileDropRef" hidden />
    <BR>
    <!--<h3 style="margin:5%;color:#56baed;">Drag and drop file here</h3>-->

    <label for="priceScanFileDropRef" class="browseButton" *ngIf="isPriceScansEmpty">Browse</label>
    <label class="browseButton" *ngIf="!isPriceScansEmpty" (click)="exportPriceScans()">Export</label>
    <button mat-button color="warn" *ngIf="!isPriceScansEmpty" (click)="deletePriceScans()">Delete scans</button>
    <div class="download-template">
      <em id="download-obj-template" class="fa-solid fa-download fa-2x" (click)="downloadTemplate(4)"></em>
      <br>
      <label for="download-obj-template">Download template</label>
    </div>
    <br>
    <div *ngIf="isPriceScansLoading"
      style="margin-top:15%;display: flex; justify-content: center; align-items: center; background: transparent;">
      <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="30">
      </mat-progress-spinner>
    </div>
  </div>

  <div class="container">
    <h3 class="uploadHeading " style="color:#56baed;">Promos</h3>
    <input type="file" #positionFileDropRef (change)="uploadPromosFile($event)" id="promosFileDropRef" hidden />

    <BR>
    <!--<h3 style="margin:5%; color:#56baed;">Drag and drop file here</h3>-->
   <!-- <label for="promosFileDropRef" class="browseButton" *ngIf="isPromosEmpty">Browse</label>-->
    <label class="browseButton" *ngIf="!isPromosEmpty" (click)="openDialog(5)">Export</label>
    <button mat-button color="warn" *ngIf="!isPromosEmpty" (click)="deletePromos()">Delete promos</button>

    <div class="download-template">
      <em id="download-obj-template" class="fa-solid fa-download fa-2x" (click)="downloadTemplate(5)"></em>
      <br>
      <label for="download-obj-template">Download template</label>
    </div>
    <br>
    <div *ngIf="isPosLoading"
      style="margin-top:15%;display: flex; justify-content: center; align-items: center; background: white; background: transparent;">
      <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="30">
      </mat-progress-spinner>
    </div>

    <br> 

    
 

    
  </div>

  



  <div class="container">
    <h3 class="uploadHeading " style="color:#56baed;">Conditions</h3>
    <input type="file" #productFileDropRef (change)="uploadConditionsFile($event)" id="conditionsFileDropRef" hidden />
    <br>
    <!--<h3 style="margin:5%;color:#56baed;">Drag and drop file here</h3>-->

    <label for="conditionsFileDropRef" class="browseButton" *ngIf="isConditionsEmpty">Browse</label>
    <label class="browseButton" *ngIf="!isConditionsEmpty" (click)="openDialog(6)">Export</label>
    <button mat-button color="warn" *ngIf="!isConditionsEmpty" (click)="deleteConditions()">Delete conditions</button>


    <div class="download-template">
      <em id="download-obj-template" class="fa-solid fa-download fa-2x" (click)="downloadTemplate(6)"></em>
      <br>
      <label for="download-obj-template">Download template</label>
    </div>
    <br>
    <div *ngIf="isProdLoading"
      style="margin-top:30%;display: flex; justify-content: center; align-items: center; background: white; background: transparent;">
      <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="30">
      </mat-progress-spinner>
    </div>
  
  
    
   
  </div>

</div>

<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>

<p style="margin-top:100%">.</p>


