<div class="dashboard" *ngIf="flag === 1">

    <div class="filter-section">
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedUser" (click)="selectUser('')">{{
            selectedUser }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedRetailer" (click)="selectRetailer('')">{{
            selectedRetailer }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedObject" (click)="selectObject('')">{{
            selectedObject }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedProductCategory"
            (click)="selectProductCategory('')">{{
            selectedProductCategory }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedYear && !selectedMonth && !selectedDay"
            (click)="setYear('')">{{
            selectedYear }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedMonth && selectedYear && !selectedDay"
            (click)="setMonth(''); setYear('');">
            {{selectedMonth}}-{{ selectedYear }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedDay && selectedMonth && selectedYear"
            (click)="setDay(''); setMonth(''); setYear('');">
            {{ selectedDay }}-{{selectedMonth}}-{{selectedYear}} <mat-icon>close</mat-icon></button>
    </div>

    <div class="table-section">
        <div class="table-section-item">
            <app-user [isDashboard]="true" (selectedUser)="selectUser($event)"></app-user>
        </div>
        <div class="table-section-item">
            <app-retailer [isDashboard]="true" (selectedRetailer)="selectRetailer($event)"></app-retailer>
        </div>
        <div class="table-section-item">
            <app-object [isDashboard]="true" (selectedObject)="selectObject($event)"></app-object>
        </div>
        <div class="table-section-item">
            <app-product-category [isDashboard]="true"
                (selectedProductCategory)="selectProductCategory($event)"></app-product-category>
        </div>
    </div>

    <mat-card class="card chart-card">
        <mat-card-header>
            <mat-card-title>Comparison of data with the last year</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="daterange-filter">
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" #dateRangeStart [value]="selectedStartDate">
                        <input matEndDate placeholder="End date" #dateRangeEnd
                            (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)" [value]="selectedEndDate">
                    </mat-date-range-input>
                    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="container">
                <mat-table mat-table #table [dataSource]="promoAndRopiByProductCategoriesAndYears" matSort
                    class="mat-cell">
                    <ng-container matColumnDef="productCategoryName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name"
                            style="justify-content: left;">Product Category
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Product cateogry">{{ row.productCategoryName
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCountLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                            Last Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count last year">{{ row.promoCountLastYear
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Last Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI last year">{{ row.ropiLastYear }}%</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count">{{ row.promoCount }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropi">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI">{{ row.ropi }}%</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns">
                    </mat-row>
                </mat-table>
                <mat-toolbar color="primary" class="noDataMessage"
                    *ngIf="!promoAndRopiByProductCategoriesAndYears || promoAndRopiByProductCategoriesAndYears.length === 0">No
                    data for
                    selected
                    criteria</mat-toolbar>
            </div>
        </mat-card-content>
    </mat-card>



    <div class="centered div-container">
        <div class="div-element-first">
            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <mat-select (selectionChange)="setYear($event.value)" [value]="selectedYear">
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="div-element">
            <mat-form-field appearance="fill">
                <mat-label>Month</mat-label>
                <mat-select (selectionChange)="setMonth($event.value)" [disabled]="!selectedYear"
                    [value]="selectedMonth">
                    <mat-option *ngFor="let month of months" [value]="month">
                        {{month}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div class="div-element">
            <mat-form-field appearance="fill">
                <mat-label>Day</mat-label>
                <mat-select (selectionChange)="setDay($event.value)" [disabled]="!selectedMonth" [value]="selectedDay">
                    <mat-option *ngFor="let day of days2" [value]="day">
                        {{day}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
    </div>

    <mat-card class="card chart-card">
        <mat-card-header>
            <mat-card-title>ROPI by Product Categories</mat-card-title>
            <mat-card-subtitle *ngIf="!ropiByProductCategories || ropiByProductCategories.length === 0">No data for
                selected
                criteria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <ngx-charts-pie-chart *ngIf="ropiByProductCategories && ropiByProductCategories.length > 0" [view]="view"
                [results]="ropiByProductCategories" [gradient]="gradient" [scheme]="colorScheme" [legend]="showLegend"
                [labels]="showLabels" [doughnut]="isDoughnut" [labels]="true" [labelFormatting]="labelFormat"
                [maxLabelLength]="20" [tooltipText]="tooltipText">
            </ngx-charts-pie-chart>
        </mat-card-content>
    </mat-card>

    <mat-card class="card chart-card">
        <mat-card-header>
            <mat-card-title>Promo Count by Period</mat-card-title>
            <mat-card-subtitle *ngIf="!promoCountByPeriod || promoCountByPeriod.length === 0">No data for selected
                criteria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class=" card-content">
            <ngx-charts-bar-vertical *ngIf="promoCountByPeriod && promoCountByPeriod.length > 0" [view]="view"
                [results]="promoCountByPeriod" [gradient]="gradientBarChart" [scheme]="colorScheme" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegendBarChart" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </mat-card-content>
    </mat-card>

    <mat-card class="card chart-card">
        <mat-card-header>
            <mat-card-title>ROPI by Period</mat-card-title>
            <mat-card-subtitle *ngIf="!ropiByPeriod || ropiByPeriod.length === 0">No data for selected
                criteria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <ngx-charts-bar-vertical *ngIf="ropiByPeriod && ropiByPeriod.length > 0" [view]="view"
                [results]="ropiByPeriod" [gradient]="gradientBarChart" [scheme]="colorScheme" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegendBarChart" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </mat-card-content>
    </mat-card>