<div class="dashboard" *ngIf="flag === 1">

    <mat-card class="card">
        <mat-card-content class="card-content" #containerRef>
            <ngx-charts-number-card [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
                [scheme]="colorScheme" [results]="numericData" [cardColor]="cardColor" [textColor]="textColor"
                *ngIf="numericData && numericData.length > 0">
            </ngx-charts-number-card>
        </mat-card-content>
    </mat-card>

    <div class="filter-section">
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedUser" (click)="selectUser('')">{{
            selectedUser }} <mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedRetailer" (click)="deselectRetailer()">{{
            selectedRetailer }} - First Table<mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item"
            *ngIf="selectedRetailerForSecondTable && selectedRetailerForSecondTable != 'null'"
            (click)="deselectRetailerForSecondTable()">{{
            selectedRetailerForSecondTable }} - Second Table<mat-icon>close</mat-icon></button>
        <button mat-stroked-button class="filter-section-item" *ngIf="selectedProductCategory"
            (click)="selectProductCategory('')">{{
            selectedProductCategory }} <mat-icon>close</mat-icon></button>

        <div class="table-section">
            <div class="table-section-item">
                <app-user [isDashboard]="true" (selectedUser)="selectUser($event)"></app-user>
            </div>
            <div class="table-section-item">
                <app-retailer [isDashboard]="true" [showRadioButtons]="true" (selectedRetailer)="selectRetailer($event)"
                    (radioBtnValueEvent)="onRadioBtnChange($event)"></app-retailer>
            </div>
            <div class="table-section-item">
                <app-product-category [isDashboard]="true"
                    (selectedProductCategory)="selectProductCategory($event)"></app-product-category>
            </div>
        </div>
    </div>

    <mat-card class="card chart-card">
        <mat-card-header>
            <mat-card-title>Comparison of data with the last year</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="daterange-filter">
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" #dateRangeStart [value]="selectedStartDate">
                        <input matEndDate placeholder="End date" #dateRangeEnd
                            (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)" [value]="selectedEndDate">
                    </mat-date-range-input>
                    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="container">
                <mat-table mat-table #table [dataSource]="promoAndRopiByProductCategoriesAndYears" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name"
                            style="justify-content: left;">Name
                        </mat-header-cell>
                        <mat-cell class="mat-cell-left" *matCellDef="let row" data-label="Name">{{ row.name
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCountLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                            Last Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count last year">{{
                            row.promoCountLastYear
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCountThisYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                            This Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count">{{ row.promoCountThisYear }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCountDifference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                            Difference
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count difference">{{ row.promoCountDifference
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Last Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI last year">{{ row.ropiLastYear }}%</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiThisYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI This Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI">{{ row.ropiThisYear }}%</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiDifference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Difference
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI difference">{{ row.ropiDifference
                            }}%</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiCashLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Cash Last
                            Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI cash last year">{{ row.ropiCashLastYear
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiCashThisYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Cash This
                            Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI cash this year">{{ row.ropiCashThisYear
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiCashDifference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Cash
                            Difference
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI cash difference">{{ row.ropiCashDifference
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="uplift">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Uplift
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Uplift">{{ format(row.uplift)
                            }}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns">
                    </mat-row>
                </mat-table>
                <mat-toolbar color="primary" class="noDataMessage"
                    *ngIf="!promoAndRopiByProductCategoriesAndYears || promoAndRopiByProductCategoriesAndYears.length === 0">No
                    data for
                    selected
                    criteria</mat-toolbar>
            </div>

            <div *ngIf="showSecondTable && selectedRetailerForSecondTable != 'null'" class="container">
                <mat-table mat-table #table [dataSource]="promoAndRopiByProductCategoriesAndYearsSecondTable" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name"
                            style="justify-content: left;">Name
                        </mat-header-cell>
                        <mat-cell class="mat-cell-left" *matCellDef="let row" data-label="Name">{{ row.name
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCountLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                            Last Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count last year">{{
                            row.promoCountLastYear
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCountThisYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                            This Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count">{{ row.promoCountThisYear }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="promoCountDifference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Promo Count
                            Difference
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Promo count difference">{{ row.promoCountDifference
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Last Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI last year">{{ row.ropiLastYear }}%</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiThisYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI This Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI">{{ row.ropiThisYear }}%</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiDifference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Difference
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI difference">{{ row.ropiDifference
                            }}%</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiCashLastYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Cash Last
                            Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI cash last year">{{ row.ropiCashLastYear
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiCashThisYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Cash This
                            Year
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI cash this year">{{ row.ropiCashThisYear
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ropiCashDifference">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">ROPI Cash
                            Difference
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ROPI cash difference">{{ row.ropiCashDifference
                            }}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns">
                    </mat-row>
                </mat-table>
                <mat-toolbar color="primary" class="noDataMessage"
                    *ngIf="!promoAndRopiByProductCategoriesAndYearsSecondTable || promoAndRopiByProductCategoriesAndYearsSecondTable.length === 0">No
                    data for
                    selected
                    criteria</mat-toolbar>
            </div>
            <div class="comparasion-tbl-options">
                <button mat-stroked-button color="primary" class="item2" style="margin-bottom: 10px; margin-left:10px;"
                    (click)="export()">Export</button>
                <mat-slide-toggle class="slide-toggle" color="primary" (change)="onChangeSlideToggle()">Show comparison
                    table
                </mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>

</div>

<div class="two-charts">
    <mat-card class="card chart-card">
        <mat-card-header>
            <mat-card-title>Promo Count by Product Categories Last Year</mat-card-title>
            <mat-card-subtitle
                *ngIf="!promoCountByProductCategoriesLastYear || promoCountByProductCategoriesLastYear.length === 0">No
                data
                for
                selected
                criteria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <ngx-charts-pie-chart
                *ngIf="promoCountByProductCategoriesLastYear && promoCountByProductCategoriesLastYear.length > 0"
                [view]="pieView" [results]="promoCountByProductCategoriesLastYear" [gradient]="gradient"
                [scheme]="colorScheme" [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut"
                [labels]="true" [labelFormatting]="labelFormat" [maxLabelLength]="20" [tooltipText]="tooltipText">
                <ng-template #tooltipTemplate let-model="model">
                    <div class="custom-tooltip">
                        <p>{{ model.label }}</p>
                        <p>{{ calculatePercentage(model.value, promoCountByProductCategoriesLastYear) }}%</p>
                    </div>
                </ng-template>
            </ngx-charts-pie-chart>
        </mat-card-content>
    </mat-card>

    <mat-card class="card chart-card">
        <mat-card-header>
            <mat-card-title>Promo Count by Product Categories This Year</mat-card-title>
            <mat-card-subtitle *ngIf="!promoCountByProductCategories || promoCountByProductCategories.length === 0">No
                data
                for
                selected
                criteria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <ngx-charts-pie-chart *ngIf="promoCountByProductCategories && promoCountByProductCategories.length > 0"
                [view]="pieView" [results]="promoCountByProductCategories" [gradient]="gradient" [scheme]="colorScheme"
                [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut" [labels]="true"
                [labelFormatting]="labelFormat" [maxLabelLength]="20" [tooltipText]="tooltipText">
                <ng-template #tooltipTemplate let-model="model">
                    <div class="custom-tooltip">
                        <p>{{ model.label }}</p>
                        <p>{{ calculatePercentage(model.value, promoCountByProductCategories) }}%</p>
                    </div>
                </ng-template>
            </ngx-charts-pie-chart>
        </mat-card-content>
    </mat-card>
</div>

<!-- <mat-card class="card chart-card">
    <mat-card-header>
        <mat-card-title>ROPI Cash by ProductCategories</mat-card-title>
        <mat-card-subtitle *ngIf="!ropiCashByProductCategories || ropiCashByProductCategories.length === 0">No data for
            selected
            criteria</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class=" card-content">
        <ngx-charts-bar-vertical-2d *ngIf="ropiCashByProductCategories && ropiCashByProductCategories.length > 0"
            [view]="view" [scheme]="colorScheme" [results]="ropiCashByProductCategories" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showYAxisLabel]="showYAxisLabel"
            [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="'Product Category'" [yAxisLabel]="'ROPI Cash'"
            [yAxisTickFormatting]="yAxisTickFormattingCash">
        </ngx-charts-bar-vertical-2d>
    </mat-card-content>
</mat-card> -->

<mat-card class="card chart-card">
    <mat-card-header>
        <mat-card-title>Average Uplift by Period</mat-card-title>
        <mat-card-subtitle *ngIf="!avgUpliftByPeriod || avgUpliftByPeriod.length === 0">No data for selected
            criteria</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class=" card-content">
        <ngx-charts-bar-vertical *ngIf="avgUpliftByPeriod && avgUpliftByPeriod.length > 0" [view]="view"
            [results]="avgUpliftByPeriod" [gradient]="gradientBarChart" [scheme]="colorScheme" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegendBarChart" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="'Average uplift'"
            [yAxisTickFormatting]="yAxisTickFormattingCount">
        </ngx-charts-bar-vertical>
    </mat-card-content>
</mat-card>

<mat-card class="card chart-card">
    <mat-card-header>
        <mat-card-title>Promo Count by Period</mat-card-title>
        <mat-card-subtitle *ngIf="!promoCountByPeriod || promoCountByPeriod.length === 0">No data for selected
            criteria</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class=" card-content">
        <ngx-charts-bar-vertical *ngIf="promoCountByPeriod && promoCountByPeriod.length > 0" [view]="view"
            [results]="promoCountByPeriod" [gradient]="gradientBarChart" [scheme]="colorScheme" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegendBarChart" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [yAxisTickFormatting]="yAxisTickFormattingCount">
        </ngx-charts-bar-vertical>
    </mat-card-content>
</mat-card>

<mat-card class=" card chart-card">
    <mat-card-header>
        <mat-card-title>ROPI Cash by Period</mat-card-title>
        <mat-card-subtitle *ngIf="!ropiCashByPeriod || ropiCashByPeriod.length === 0">No data for selected
            criteria</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <ngx-charts-bar-vertical *ngIf="ropiCashByPeriod && ropiCashByPeriod.length > 0" [view]="view"
            [results]="ropiCashByPeriod" [gradient]="gradientBarChart" [scheme]="colorScheme" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegendBarChart" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="'ROPI cash'"
            [yAxisTickFormatting]="yAxisTickFormattingCash">
        </ngx-charts-bar-vertical>
    </mat-card-content>
</mat-card>