<div class="fadeInDown">

  <div class="wrapp fadeIn first">

    <img src="assets\StoreCheckIcon3.png" alt="SC icon" width="100" height="100" style="float:left">

    <div class="header ">
      <div class="l">
        <h1 class="mainHeading">Admin Dashboard</h1>
      </div>
      <div class="menu" style="display:flex;">

        <div class="fadeIn second">

          <div class="item2 " (click)="openDialog(1)">
            Analytics
          </div>
        </div>


        <div class="fadeIn second item2"  (click)="logout()">
           Log out

        </div>

      </div>

    </div>



  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="fadeIn second">
    <h2 class="heading">Users</h2>
    <app-user></app-user>
  </div>

  <div class="fadeIn third">
    <h2 class="heading">Objects</h2>
    <app-object [isAdmin]="true"></app-object>
  </div>

  <div class="fadeIn third">
    <h2 class="heading">Retailers</h2>
    <app-retailer></app-retailer>
  </div>

  <div class="fadeIn third">
    <h2 class="heading">Feedback Categories</h2>
    <app-feedback-category></app-feedback-category>
  </div>

  <div class="fadeIn third">
    <h2 class="heading">Product Categories</h2>
    <app-product-category></app-product-category>
  </div>

  <div class="fadeIn third">
    <h2 class="heading">Store Check Receivers</h2>
    <app-store-check-receiver></app-store-check-receiver>
  </div>

  <div class="fadeIn third">
    <h2 class="heading">Import Excel</h2>



    <div class="parentcontainer" style="margin-bottom: 5%;">

      <div class="container">
        <h3 class="uploadHeading " style="color:#56baed;">Objects</h3>
        <input type="file" #fileDropRef (change)="uploadObjectsFile($event)" id="fileDropRef" />


        <h3 style="margin:5%;color:#56baed;">Drag and drop file here</h3>

        <label for="fileDropRef" class="browseButton">Browse</label>

      <div *ngIf="isObjLoading"
      style="margin-top:15%;display: flex; justify-content: center; align-items: center; background: white;">
     <mat-progress-spinner
     class="mat-spinner-color"
       mode="indeterminate" [diameter]="30">
     </mat-progress-spinner>
    </div>
      </div>




      <div class="container">
        <h3 class="uploadHeading " style="color:#56baed;">Positions</h3>
        <input type="file" #fileDropRef (change)="uploadPositionsFile($event)" id="fileDropRef" />


        <h3 style="margin:5%; color:#56baed;">Drag and drop file here</h3>

        <label class="browseButton" for="fileDropRef">Browse</label>
        <div *ngIf="isPosLoading"
      style="margin-top:15%;display: flex; justify-content: center; align-items: center; background: white;">
     <mat-progress-spinner
     class="mat-spinner-color"
       mode="indeterminate" [diameter]="30">
     </mat-progress-spinner>
    </div>
      </div>

    </div>

  </div>

</div>
