<div class="filter-section">
    <button mat-stroked-button class="filter-section-item" *ngFor="let retailer of selectedRetailers"
        (click)="removeRetailer(retailer)">
        {{ retailer }} <mat-icon>close</mat-icon></button>
    <button mat-stroked-button class="filter-section-item" *ngFor="let object of selectedObjects"
        (click)="removeObject(object)">
        {{ object }} <mat-icon>close</mat-icon></button>
</div>

<div class="table-section">
    <div class="table-section-item">
        <app-retailer [isDashboard]="true" (selectedRetailer)="selectRetailer($event)"></app-retailer>
    </div>
    <div class="table-section-item">
        <app-object [isDashboard]="true" (selectedObject)="selectObject($event)"></app-object>
    </div>
</div>

<mat-card class="card" *ngIf="returnResult.length > 0">
    <mat-card-content class="card-content" #containerRef>
        <ngx-charts-number-card [view]="[containerRef.offsetWidth, containerRef.offsetHeight]" [scheme]="colorScheme"
            [results]="returnResult" [cardColor]="cardColor" [textColor]="textColor">
        </ngx-charts-number-card>
    </mat-card-content>
</mat-card>