<mat-card class="card">
    <mat-card-title>Objects with most returns</mat-card-title>
    <mat-card-content class="card-content" #containerRef>
        <ngx-charts-number-card [view]="[containerRef.offsetWidth, containerRef.offsetHeight]" [scheme]="colorScheme"
            [results]="top3objects" [cardColor]="cardColor" [textColor]="textColor" *ngIf="top3objects.length > 0">
        </ngx-charts-number-card>
    </mat-card-content>
</mat-card>


<mat-card class="card">
    <mat-card-title>Most returned products</mat-card-title>
    <mat-card-content class="card-content" #containerRef>
        <ngx-charts-number-card [view]="[containerRef.offsetWidth, containerRef.offsetHeight]" [scheme]="colorScheme"
            [results]="top3products" [cardColor]="cardColor" [textColor]="textColor" *ngIf="top3products.length > 0">
        </ngx-charts-number-card>
    </mat-card-content>
</mat-card>


<div class="filter-section">
    <!--  <button mat-stroked-button class="filter-section-item" *ngFor="let retailer of selectedRetailers"
        (click)="removeRetailer(retailer)">
        {{ retailer }} <mat-icon>close</mat-icon></button>
    <button mat-stroked-button class="filter-section-item" *ngFor="let object of selectedObjects"
        (click)="removeObject(object)">
        {{ object }} <mat-icon>close</mat-icon></button>-->
</div>

<div class="table-section">
    <div class="table-section-item">
        <app-retailer [isDashboard]="true" (selectedRetailer)="selectRetailer($any($event))"></app-retailer>
    </div>
    <div class="table-section-item">
        <app-object [isDashboard]="true" (selectedObject)="selectObject($any($event))"></app-object>
    </div>
    <div class="table-section-item">
        <app-user [isDashboard]="true" (selectedUser)="selectUser($any($event))"></app-user>
    </div>
    <div class="table-section-item">
        <app-product [isDashboard]="true" (selectedProduct)="selectProduct($any($event))"></app-product>
    </div>
</div>

<mat-card class="card" *ngIf="returnResult.length > 0">
    <mat-card-content class="card-content" #containerRef>
        <ngx-charts-number-card [view]="[containerRef.offsetWidth, containerRef.offsetHeight]" [scheme]="colorScheme"
            [results]="returnResult" [cardColor]="cardColor" [textColor]="textColor">
        </ngx-charts-number-card>
    </mat-card-content>
</mat-card>

<mat-card class="card chart-card">
    <mat-card-title>Returns quantity</mat-card-title>
    <mat-card-content>
        <div class="chart">
            <app-vertical-bar-chart [data]="returnGraphResult[0]" *ngIf="returnGraphResult">
            </app-vertical-bar-chart>
        </div>
    </mat-card-content>
</mat-card>


<mat-card class="card chart-card">
    <mat-card-title>Returns quantity * price</mat-card-title>
    <mat-card-content>
        <div class="chart">
            <app-vertical-bar-chart [data]="returnGraphResult[1]" *ngIf="returnGraphResult">
            </app-vertical-bar-chart>
        </div>
    </mat-card-content>
</mat-card>