.item2{
    background-color: white;
    color: #39ace7;
    margin-bottom: 4%;
    border: 2px solid #39ace7;
  }

  
  button:hover {
    color: #fff;
    background-color: #39ace7;
    transition: 0.3s;
}
button[disabled]:hover {
   background-color: #fff;
}
h3{
  color: #39ace7;
}

mat-form-field {
  width: 100%;
}

/* Otklanja sivu pozadinu sa dugmeta */
button {
  outline: none;
}
::ng-deep .mat-button-focus-overlay {
  display: none;
}