<mat-form-field>
  <input type="text" matInput [(ngModel)]= "search">
  <button matSuffix mat-button (click)="searchByString()">ok</button>
  </mat-form-field>
{{search}}
<div class="container mat-elevation-z8">

<mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

  <ng-container matColumnDef="objectIdRetail">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Object ID retail</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.objectIdRetail }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="objectIdCompany">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Object ID company</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.objectIdCompany }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="objectName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Object name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.objectName }}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary">
<button > add </button>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row; let i=index">
      <button mat-icon-button color="primary">
        <button area-label="Edit" > edit </button>
              </button>
<button>
        <button area-label="Delete"> delete </button>
            </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

</div>

