
.mat-header-cell {
  background: #39ace7;
  text-align: center;
}
.font{
  font-family:sans-serif;
}
.header {
  text-align: center;
  height: 100px;
  background-color: #56baed;
  color: #fff;
  line-height: 100px;
}

i {
  color: #56baed;
  cursor: pointer;
}

h4 {
  margin-bottom: 1%;
  color: #56baed;
}

.container {
  text-align: center;
}

.adr-name-search {
  padding-top: 20px;
}


.detail-search {
  margin-top: 20px;
}

.detail-search i {
  margin: 20px 0;
}

.menu-item mat-form-field {
  width: 300px;
  max-width: 90%;
}

.menu-btn {
  width: 100px;
  max-width: 90%;
  background-color: #56baed;
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
}


.search{
  color:white;
  background-color:#56baed;
  margin: 1%;

}

.choose-btn {
  color: #fff;
  background-color:#56baed;
}

.marginalize{
  margin:5%;
}

.mat-spinner-color::ng-deep circle{
stroke: #56baed !important;
}
.whitetext{
  color:white;

}

.width{
  width: 50px;
}


table{
  width: 100%;
 }

.mat-column-objectName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
 

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: center;
  margin-left: -17px;
}

.mat-column-address {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: center;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
 

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;

}

@media (max-width: 300px) {
  .mat-column-actions{
    margin-left:-20px;
    flex: 0 0 55% !important;
     width: 55% !important;
 
  }
}

@media (min-width: 1000px) {
  .mat-column-objectName{
    flex: 0 0 20% !important;
    width: 20% !important;
 
  }
}