<div class="container mat-elevation-z8">

  <div class="adr-name-search">
    <h4>ENTER ADDRESS OR NAME:</h4>
    <mat-form-field>
      <input type="text" matInput placeholder="Search" [(ngModel)]="search">
      <button matSuffix mat-button (click)="searchByString()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" *ngIf="dataSource">

    <ng-container matColumnDef="objectIdRetail">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ObjectIdRetail</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.objectIdRetail }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="objectIdCompany">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ObjectIdCompany</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.objectIdCompany }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="objectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ObjectName</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.objectName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.address }}</mat-cell>
    </ng-container>






    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary">
          <mat-icon (click)="openDialog(1)">add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index">
        <button mat-icon-button color="primary">
          <mat-icon area-label="Edit" (click)="openDialog(2,row.objectName,row.objectIdCompany,row.objectIdRetail)">
            edit </mat-icon>
        </button>

        <button mat-icon-button color="primary">
          <mat-icon area-label="Delete" (click)="openDialog(3,row.objectName,row.objectIdCompany,row.objectIdRetail)">
            delete </mat-icon>
        </button>

        <button mat-icon-button color="primary">
          <mat-icon area-label="Open" [routerLink]="['/storeCheckPage', workModel, row.objectName]">open_in_new
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="detail-search">
    <h4>DETAIL SEARCH</h4>
    <div class="detail-search-menu" *ngIf="detailSearch">
      <div class="menu-item">
        <mat-form-field>
          <input type="text" matInput placeholder="Id company" [(ngModel)]="idCompany">
        </mat-form-field>
      </div>
      <div class="menu-item">
        <mat-form-field>
          <input type="text" matInput placeholder="Retailer" [(ngModel)]="retailer">
        </mat-form-field>
      </div>
      <div class="menu-item">
        <mat-form-field>
          <input type="text" matInput placeholder="City" [(ngModel)]="city">
        </mat-form-field>
      </div>
      <div class="menu-item">
        <mat-form-field>
          <input type="text" matInput placeholder="Format" [(ngModel)]="format">
        </mat-form-field>
      </div>
      <div class="menu-btn">
        <button matSuffix mat-button (click)="loadData()">Search <mat-icon>search</mat-icon></button>
      </div>
    </div>
    <i class="fa-solid fa-circle-chevron-down fa-1x" (click)="showDetailSearch()" *ngIf="detailSearch == false"></i>
    <i class="fa-solid fa-circle-chevron-up fa-1x" (click)="showDetailSearch()" *ngIf="detailSearch == true"></i>
  </div>
</div>