.mat-header-cell {
    background: #56baed;
}

.centered {
    text-align: center;
}

.search {
    color: white;
    background-color: #56baed;
    margin: 1%;
}

.container {
    margin: 0 20px;
}

.mat-spinner-color::ng-deep circle {
    stroke: #56baed !important;
}

.whitetext {
    color: white;
}

.noDataMessage {
    background-color: white;
    color: #56baed;
}

.column-name {
    font-size: 16px;
}

.price-input {
    width: 50%;
}

.header {
    padding: 40px 0;
    background-color: #56baed;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.header h2 {
    text-transform: uppercase;
    font-size: 30px;
}