<div class="header" *ngIf="showHeader && !isDashboard">
    <img src="../../../assets/Store Metrics Logo PNG.png" alt="SC icon" width="80" height="80" style="float:left;">
    <h2 style="height:80px;"> <span>Price scanner</span> </h2>
</div>

<div class="centered font">
    <mat-form-field>
        <input type="text" matInput placeholder="Search products" [(ngModel)]="search">
        <button class="search" matSuffix mat-button (click)="loadData(false)">
            <mat-icon class="search">search</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="container mat-elevation-z8">
    <mat-table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
        <!--<ng-container matColumnDef="productIdCompany">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Id
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Id">{{ row.productIdCompany }}</mat-cell>
        </ng-container>
-->
        <ng-container matColumnDef="productName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name"
                style="justify-content: left;">Product
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Product name">{{ row.productName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Weight
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Weight">{{ row.weight }}g</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Price
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Price">{{ row.price }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gp2">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">GP2
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="GP2">{{ row.gp2 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="whitetext column-name">Category
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Category">{{ row.productCategoryName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary">
                    <mat-icon (click)="openDialog(1)" class="whitetext">add</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index">
                <button mat-icon-button color="primary">
                    <mat-icon area-label="Edit"
                        (click)="openDialog(2, row.productIdCompany, row.productName, row.price, row.weight, row.gp2, row.productCategoryName)">
                        edit</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon area-label="Delete"
                        (click)="openDialog(3, row.productIdCompany, row.productName, row.price, row.weight, row.gp2, row.productCategoryName)">
                        delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"
            (click)="selectProduct(row.productName)">
        </mat-row>
    </mat-table>
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner class="mat-spinner-color" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <mat-toolbar color="primary" *ngIf="noData" class="noDataMessage">No products</mat-toolbar>
    <mat-paginator *ngIf="dataSource" [pageIndex]="page-1" [pageSize]="count" [pageSizeOptions]="[2, 5, 10, 25, 100]"
        [length]="length" (page)="loadDataOnPageEvent($event)">
    </mat-paginator>
</div>

<button mat-stroked-button color="primary" class="item2" (click)="exit()" *ngIf="!isAdmin && !isDashboard">Exit
    <mat-icon>exit_to_app</mat-icon></button>