.mat-header-cell {
    background: #56baed;
}

.centered {
    text-align: center;
}

.search {
    color: white;
    background-color: #56baed;
    margin: 1%;
}

.container {
    margin: 0 20px;
}

.mat-spinner-color::ng-deep circle {
    stroke: #56baed !important;
}

.whitetext {
    color: white;
}

.noDataMessage {
    background-color: white;
    color: #56baed;
}

.column-name {
    font-size: 16px;
}

.price-input {
    width: 50%;
}

.header {
    text-align: center;
    height: 80px;
    background-color: #56baed;
    color: #fff;
    line-height: 80px;
    font-family: sans-serif;
    text-transform: uppercase;
}

/* Promena izgleda table */
@media screen and (max-width: 650px) {
    .mat-table {
        border: 0;
        vertical-align: middle
    }

    .mat-table caption {
        font-size: 1em;
    }

    /* Enable this to hide header */
    .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
    }

    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;
        padding: 0 10px;
    }

    .mat-table .mat-cell:before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;

        font-size: .85em;
    }

    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }
}