<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Add product</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Update product: {{data.productName}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Delete product: {{data.productName}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Id" [(ngModel)]="data.productIdCompany" name="productIdCompany"
                    [disabled]="flag === 2 || flag === 3" required />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Product name" [(ngModel)]="data.productName" name="productName"
                    [disabled]="flag === 3" required />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Weight" [(ngModel)]="data.weight" name="weight" [disabled]="flag === 3"
                    type="number" required />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Price" [(ngModel)]="data.price" name="price" type="number"
                    [disabled]="flag === 3" required />
            </mat-form-field>
        </div>
        <div class="form" *ngIf="flag != 1 && flag != 2">
            <mat-form-field>
                <input matInput placeholder="GP2" [(ngModel)]="data.gp2" name="gp2" type="number"
                    [disabled]="flag === 3" required />
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Total expenses" [(ngModel)]="data.totalExpenses" name="totalExpenses" type="number"
                    [disabled]="flag === 3" required />
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Rebate" [(ngModel)]="data.rebate" name="rebate" type="number"
                    [disabled]="flag === 3" required />
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <mat-label>Product category</mat-label>
                <input type="text" placeholder="Product cateogry name" aria-label="Product category" matInput
                    name="productCategoryName" [matAutocomplete]="productCategoryAuto"
                    (input)="onProductCategoryInputChange($event)" required [(ngModel)]="data.productCategoryName"
                    [disabled]="flag === 3">
                <mat-autocomplete autoActiveFirstOption #productCategoryAuto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredProductCategoryNames" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div *ngIf="showProductCategoryNameError" class="error-message">Invalid product category name</div>
        <div mat-dialog-actions class="wrap">
            <button mat-button class="test" *ngIf="flag === 1" type="submit" (click)="add()"
                [disabled]="!formControl.valid || showProductCategoryNameError">Ok</button>
            <button mat-button class="test" *ngIf="flag === 2" type="submit" (click)="update()"
                [disabled]="!formControl.valid || showProductCategoryNameError">Ok</button>
            <button mat-button class="test item2-delete" *ngIf="flag === 3" type="submit"
                (click)="delete()">Delete</button>
            <button mat-button class="test" (click)="close()">Cancel</button>
            <div *ngIf="isLoading"
                style="display: flex; justify-content: center; align-items: center; background: white;color:#56baed">
                <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="20">
                </mat-progress-spinner>
            </div>
        </div>
    </form>
</div>