.mat-spinner-color::ng-deep circle{
  stroke: #56baed !important;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .noresize{
    max-width:250px;
    max-height:200px;
  }
