<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Feedback</h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form fb-img">

      <img src="https://storagestorecheck.blob.core.windows.net/storecheck/{{data.img}}"  id="fbphoto" alt="SC photo" width="250"
        height="250" #fbimg/>

    </div>


    <div class="form">
      <mat-form-field>
        <input matInput [(ngModel)]="data.feedbackCategoryName" name="feedbackCategoryName" [disabled]="true"
          required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput [(ngModel)]="data.productCategoryName" name="productCategoryName" [disabled]="true"
          required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="200"
                [(ngModel)]="data.text" name="text" [disabled]="true" required></textarea>
      </mat-form-field>
    </div>


    
    <div class="form fb-img" *ngIf="data.imgResolve">

      <img src="https://storagestorecheck.blob.core.windows.net/storecheck/{{data.imgResolve}}" alt="SC photo"
        width="250" height="250" />

    </div>

    <div class="form">
      <mat-form-field>
        <input matInput [(ngModel)]="data.usernameResolve" name="usernameResolve:" [disabled]="true"
          required />
      </mat-form-field>
    </div>

    <form [formGroup]="form" *ngIf="resolveFeedbacks" (ngSubmit)="submitForm()">
      <input id="inputFile" type="file" (change)="uploadFile($event)" accept="image/*" capture="camera" fromControlName="file"  required hidden>
      <label>Take photo:</label>

      <label for="inputFile" class="browseFile"> <img src="assets\photoicon.png" width="10%" height="10%" alt="PhotoIcon"/></label>


    </form>
    <div *ngIf="imageUploaded">
      <p>Image is uploaded</p>
    </div>
    <div mat-dialog-actions>
      <button mat-icon-button color="primary" *ngIf="data.img=='' || data.img=='NULL' " (click)="openInfo()">
        <mat-icon> warning </mat-icon>
      </button>

      <button mat-button class="item2" *ngIf="resolveFeedbacks" type="submit" (click)="submitForm()"
      [disabled]="!imageUploaded && !isLoading">Resolve</button>
      <button mat-button class="item2" (click)="close()">Close</button>

        <div *ngIf="isLoading"
        style="display: flex; justify-content: center; align-items: center; background: white;color:#56baed">
        <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="20">
        </mat-progress-spinner>
      </div>
    </div>
  </form>
</div>
