.table-row {
  height: 30px !important;
}

.container {
  display: flex;
  flex-direction: column;
  /* min-width: 450px; */
  }

.form {
  display: flex;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.fb-img {
  justify-content: center;
}

.item2{
  background-color: white;
  color: #39ace7;
  width: 140px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid #39ace7;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  margin-bottom: 1%;
  margin-top: 1%;
}

button:hover {
  color: #fff;
  background-color: #39ace7;
  transition: 0.3s;
}
button[disabled]:hover {
 background-color: #fff;
 cursor: not-allowed;
}

.mat-spinner-color::ng-deep circle {
  stroke: #56baed !important;
}

.browseFile{
  color: white;
  width: 10px;
  height: 10px;
  border-radius: 21.5px;
  background-color: white;
  padding: 8px 16px;
  margin: 40%;
}

/* Otklanja sivu pozadinu sa dugmeta */
button {
  outline: none;
}
::ng-deep .mat-button-focus-overlay {
  display: none;
}
