.mat-header-cell {
  background: #56baed;
}

.centered{
  text-align:center;
}



.search{
  color:white;
  background-color:#56baed;
  margin: 1%;

}

.container {
  margin: 0 20px;
}
.whitetext{
  color:white;
}