.mat-header-cell {
  background: #56baed;
}

.centered{
  text-align:center;
}



.search{
  color:white;
  background-color:#56baed;
  margin: 1%;

}

.container {
  margin: 0 20px;
}

.mat-spinner-color::ng-deep circle{
  stroke: #56baed !important;
  }
.whitetext{
  color:white;
}
