<div class="container">
  <h3 mat-dialog-title>Positions export options</h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <mat-checkbox [(ngModel)]="withImages" name="withImages">With Images</mat-checkbox>

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="retailer" placeholder="Retailer (optional)" name="retailer"
          >
          <mat-option *ngFor="let retailer of retailers" [value]="retailer.retailerName">
            {{ retailer.retailerName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Position type (optional)</mat-label>
        <mat-select [(ngModel)]="selectedType" name="selectedType">
          <mat-option value="All">
            All
          </mat-option>
          <mat-option *ngFor="let type of types" [value]="type.positionTypeName">
            {{type.positionTypeName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Object (optional)</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto" [(ngModel)]="selectedObject">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option value="All">
            All
          </mat-option>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.objectIdCompany">
            {{option.objectName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <div class="form">
      <mat-form-field >
        <mat-label>Object format</mat-label>
        <mat-select [(ngModel)]="selectedFormat" name="selectedFormat">
          <mat-option value="All">
            All
          </mat-option>
          <mat-option *ngFor="let format of formats" [value]="format">
            {{format}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--
    <label>
      <input type="radio" name="option" value="positions" [(ngModel)]="positionsOrSuggestions" checked> Positions
    </label>
    <label>
      <input type="radio" name="option" value="suggestions" [(ngModel)]="positionsOrSuggestions"> Suggestions
    </label>
-->
    <div mat-dialog-actions class="wrap">


          <button mat-button class="test" type="submit" [disabled]="isLoading" (click)="submitForm()"
          [disabled]="!formControl.valid"><span class="feedbackSpan"><a
            onmouseover="this.style.color='white';" onmouseout="this.style.color='#39ace7'">Export</a></span></button>
            <button mat-button class="test" (click)="close()">Close</button>

           <div *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center; background: white;color:#56baed; margin-left:10px">
            <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="20">
            </mat-progress-spinner>
          </div>
    </div>
  </form>
</div>
