.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
}

.form {
  display: flex;

}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.item2 {
  background-color: white;
  color: #39ace7;
  margin-bottom: 4%;
  border: 2px solid #39ace7;
}

.item2red {
  background-color: red;
  color: white;
  margin-bottom: 4%;
  border: 2px solid red;
}


.form {
  display: flex;
}

.pos-img {
  justify-content: center;
}

button:hover {
  color: #fff;
  background-color: #39ace7;
  transition: 0.3s;
}

button[disabled]:hover {
  background-color: #fff;
}

.mat-dialog-content {
  overflow-y: auto;
  padding-bottom: 10px;
}

::ng-deep .redNoMatch {
  color: #fff;
  background-color: #39ace7 !important;
}

button {
  outline: none;
}

::ng-deep .mat-button-focus-overlay {
  display: none;
}

.rotate {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.horizontal {
  height: 200px;
  width: 250px;
}

.vertical {
  height: 250px;
  width: 200px;
}


.mat-spinner-color::ng-deep circle {
  stroke: #56baed !important;
}

.photo-input {
  display: flex;
  align-items: center;
}

.photo-input img {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}
