.container {
  margin: 0 20px;
}

h1{
    color: blue;
    text-align: center;
    margin-top: 40px;
}
#editBtn{
    margin: 20px;
}
.font{
  font-family: sans-serif;
}
.button {
    color: white;
    background-color: blue;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
  }

  ul.links {
    padding-bottom: 10px;
  }

  .table-row {
    height: 30px !important;
  }

  .heading{
    color:gray;
    text-align: center;
  }

.item2{
  background-color: white;
  color: #39ace7;
  width: 140px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid #39ace7;
  cursor: pointer;
  margin:  auto;
  position: relative;
  bottom: 0;
  margin-bottom: 4%;
  margin-top: 5%;
}

.item1{
    background-color: white;
  color: #39ace7;
  width: 140px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid #39ace7;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  margin-bottom: 1%;
  margin-top: 1%;
}

.item2:hover {
  background-color: #39ace7;
  color: #fff;
  transition: 0.3s;
}

.btn, a {
  text-decoration: none;
}

.browseFile{
  color: white;
  width: 100px;
  height: 20px;
  border-radius: 21.5px;
  background-color: #56baed;
  padding: 8px 16px;
}

.browseFile{
  color: white;
  width: 100px;
  height: 20px;
  border-radius: 21.5px;
  background-color: #56baed;
  padding: 8px 16px;
  margin:40%;
}

.browseFile:hover{
  color: white;
  width: 100px;
  height: 20px;
  border-radius: 21.5px;
  padding: 8px 16px;
  background-color:gray;
}

.mat-spinner-color::ng-deep circle{
  stroke: #56baed !important;
  }

  .mat-spinner-color::ng-deep circle{
    stroke: #56baed !important;
    }


    
.mat-column-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}

.mat-column-feedbackCategoryName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}


.mat-column-username {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: left;
}

