.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
}

.form {
  display: flex;
  margin-bottom: 10px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.item2{
  background-color: white;
  color: #39ace7;
  margin-bottom: 4%;
  border: 2px solid #39ace7;
}


button:hover {
  color: #fff;
  background-color: #39ace7;
  transition: 0.3s;
}
button[disabled]:hover {
 background-color: #fff;
}