<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Add product category</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Edit {{data.productCategoryName</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Delete {{data.productCategoryName}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput id="name" name="text" placeholder="Product category"
                    [(ngModel)]="data.productCategoryName" [disabled]="flag==3" required />
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <div *ngIf="isLoading"
                style="display: flex; justify-content: center; align-items: center; background: white;color:#56baed">
                <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="20">
                </mat-progress-spinner>
            </div>
            <button class="test" mat-button type="submit" *ngIf="flag == 1" [disabled]="!data.productCategoryName"
                (click)="add()">Add</button>
            <button class="test" mat-button type="submit" *ngIf="flag == 2" [disabled]="!data.productCategoryName"
                (click)="update()">Ok</button>
            <button class="test" mat-button type="submit" *ngIf="flag==3" (click)="delete()">Delete</button>
            <button class="test" mat-button (click)="close()">Cancel</button>

        </div>
        <br>
        <br>
    </form>
</div>