<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Feedback</h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="feedback.feedbackCategoryName" placeholder="Feedback Category" name="feetbackCategory"
          required>
          <mat-option *ngFor="let category of feedbackCategories" [value]="category.feedbackCategoryName">
            {{ category.feedbackCategoryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                placeholder="Type text..."
                maxlength="2000"
                [(ngModel)]="feedback.text" name="text" required></textarea>
      </mat-form-field>
    </div>



    <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="!imageUploaded">
      <input type="file" id="inputFile" (change)="uploadFile($event)" accept="image/*" capture="camera"
        fromControlName="file" required hidden>
      <label style="margin-bottom:5%">Take photo:</label>

      <label for="inputFile" class="browseFile"> <img src="assets\photoicon.png" width="10%" height="10%" alt="PhotoIcon"/></label>
    </form>
    <div *ngIf="imageUploaded">
      <p>Photo is uploaded.</p>
    </div>
    <div mat-dialog-actions class="wrap">
            <div *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center; background: white;color:#56baed">
            <mat-progress-spinner class="mat-spinner-color" mode="indeterminate" [diameter]="20">
            </mat-progress-spinner>
          </div>

          <button mat-button class="test" type="submit" [disabled]="isLoading" (click)="submitForm()"
          [disabled]="!formControl.valid || !imageUploaded"><span class="feedbackSpan"><a
            onmouseover="this.style.color='white';" onmouseout="this.style.color='#39ace7'">Add</a></span></button>
            <button mat-button class="test" (click)="close()">Close</button>
    </div>
  </form>
</div>
