.container {
    overflow-x: hidden;
}

.header {
    background-color: #56baed;
    color: #fff;
    width: 100%;
    /* padding: 10px; */
    text-align: center;
    padding: 10px 0;
}

.margintop {
    margin-top: 10%;
}

button {
    font-family: sans-serif;
}

.header .head {
    display: flex;
    width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 80%;
}

.header i {
    cursor: pointer;
}

.header .head i {
    margin: 0 0 0 auto;
}

.object-info-data {
    max-width: 100%;
}

.header .obj-info {
    width: 400px;
    text-align: left;
    margin: 0 auto;
    max-width: 90%;
    /* padding: 0 5px; */
}

.header .obj-info ul {
    list-style-type: none;
    padding-left: 20px;
}

.header .obj-info ul li {
    margin-top: 10px;
}

.object-info-tables {
    max-width: 90%;
    margin: 0 auto;
}

.object-info-tables table {
    table-layout: fixed;
    max-width: 100%;
}

.header table,
th,
td {
    border: 1px solid #fff;
    overflow: hidden;
}

.info-table {
    border-collapse: collapse;
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

.info-table th {
    background-color: grey;
}

.main {
    width: 100%;
    background-color: #fff;
    text-align: center;
    /* margin-left: 10px; */
}

.main h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #39ace7;
}

.main a {
    text-decoration: none;
}

.main h4 {
    color: grey;
}

.add-fb-btn {
    border-radius: 20px;
    border: 2px solid #39ace7;
    background-color: #39ace7;
    ;
    color: #fff;
    width: 200px;
    padding: 10px 0;
    margin: 30px auto;
}

.add-fb-btn:hover {
    background-color: #fff;
    color: #39ace7;
    transition: 0.3s;
}

.unresolved-fb-header {
    margin-top: 80px;
}

.secondary-positions {
    margin-top: 80px;
}

.secondary-positions td {
    border: 1px solid grey;
}

.positions-tbl {
    border-collapse: collapse;
    width: 300px;
    max-width: 100%;
    margin: 20px auto;
    color: grey;
}

.positions-tbl tr {
    height: 40px;
}

.position-name-td {
    text-align: left;
    padding-left: 10px;
}

.check-box-td {
    text-align: center;
}

.btn-finish {
    border-radius: 20px;
    border: 2px solid #39ace7;
    background-color: #39ace7;
    color: #fff;
    width: 200px;
    padding: 10px 0;
    margin: 30px;
    cursor: pointer;
}

.btn-finish:hover {
    background-color: #fff;
    color: #39ace7;
    transition: 0.3s;
}

.finish-sc td {
    border: 1px solid grey;
}


.fadeInDown {
    font-family: sans-serif;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);

        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.item2 {
    border-radius: 10px;
    border: 2px solid #39ace7;
    background-color: #fff;
    color: #39ace7;
    width: 200px;
    padding: 10px 0;
    margin: 30px;
    cursor: pointer;
    width: 145px;
    height: 50px;
    font-size: 16px;
}

.item2:hover {
    background-color: #39ace7;
    color: #fff;
    transition: 0.3s;
}
.slova{
    font-size: 20px;
}
