<div class="container fadeInDown">

    <div class="header fadeIn first">
        <div class="head">
            <h1>{{ objectName }}</h1>
            <!-- <em class="fa-solid fa-file-pdf fa-3x" (click)="getRetailerPlanogram()"></em> -->
            <!-- <em class="fa-solid fa-file-lines fa-3x" (click)="getRetailerPlanogram()"></em> -->
        <em class="fa-solid fa-file-powerpoint fa-3x" style="margin-right: 10%;" (click)="openPlanogramDialog()"></em>
        </div>
        <div class="object-info-data" *ngIf="showDetails">
            <div class="object-info-slider">
                <div class="card1">
                    <div class="obj-info"> <u>Address:</u><b> {{ object.address }}, {{ object.city }}</b></div>
                    <div class="obj-info"> <u>Format:</u><b> {{ object.objectFormat }}</b> </div>
                    <div class="obj-info"> <u>Retailer:</u><b> {{ object.retailer.retailerName }}</b></div>
                    <div class="obj-info"> <u>Assortment module:</u><b> {{ object.objectInfo.assortmentModule }}</b></div>
                    <div class="obj-info"> <u>Number of registers:</u><b> {{ object.objectInfo.registersNumber }}</b>  </div>
                </div>
                <div class="card1">
                    <div class="obj-info"> <u>KAM:</u><b> {{ object.kam}}</b></div>
                    <div class="obj-info"> <u>Director:</u><b> {{ object.director}}</b></div>
                    <div class="obj-info"> <u>Supervisor:</u><b> {{ object.supervisor}}</b></div>
                    <div class="obj-info"> <u>Merchandiser:</u><b> {{ object.merchandiser}}</b></div>
                    <div class="obj-info"> <u>Commercialist:</u><b> {{ object.commercialist}}</b> </div>
                    <div class="obj-info"> <u>Requisition days:</u><b> {{ object.requisitionDays }}</b>  </div>
                    <div class="obj-info"> <u>Merchendiser req. days:</u><b> {{ object.merchandiserRevisionDays }}</b>  </div>
                </div>
            </div>
        <!--
        <div class="object-info-data" *ngIf="showDetails == true">
            <div class="obj-info"> Address: <div style="font-size: 120%">{{ object.address }}, {{ object.city }}</div> </div>
            <br>
            <div class="obj-info"> Format:<div style="font-size: 120%">{{ object.objectFormat }} </div>  </div>
            <br>
            <div class="obj-info">Retailer: <div style="font-size: 120%">{{ object.retailer.retailerName }} </div>  </div>
            <br>
            <div class="obj-info"> Assortment module: <div style="font-size: 120%">{{ object.objectInfo.assortmentModule }} </div>  </div>
            <br>
            <div class="obj-info"> Number of registers: <div style="font-size: 120%">{{ object.objectInfo.registersNumber }} </div>  </div>
            <br>-->
            <!--
                <ul>
                    <li>Address: {{ object.address }}, {{ object.city }}</li>
                    <li>Format: {{ object.objectFormat }}</li>
                    <li>Retailer: {{ object.retailer.retailerName }}</li>
                    <li>Assortment module: {{ object.objectInfo.assortmentModule }}</li>
                    <li>Number of registers: {{ object.objectInfo.registersNumber }}</li>
                    <li>Director: {{ object.director}}</li>
                    <li>Commercialist: {{ object.commercialist}}</li>
                    <li>Supervisor: {{ object.supervisor}}</li>
                    <li>Director: {{ object.merchandiser}}</li>
                    <li>Requisition days: {{ object.requisitionDays }}</li>
                    <li>Merchandiser revision days: {{ object.merchandiserRevisionDays }}</li>
                </ul>-->

                <div class="object-info-slider">
                    <div class="card" ><div style="font-size: 250%;"><b>{{ object.objectInfo.shelfSpaceM }}</b></div>Shelf Space M</div>
                    <div class="card"><div style="font-size: 250%;"><b>{{ object.objectInfo.companyShelfSpaceM }}</b></div>Company Shelf Space M</div>
                    <div class="card"><div style="font-size: 250%;"><b>{{ object.objectInfo.companyShelfSpacePercent }}</b></div>Company Shelf Space %</div>
                    <div class="card2"><div style="font-size: 250%;"><b>{{ object.objectInfo.gainings12Mrsd.toLocaleString() }}</b></div>Gainings 12M (RSD,mil)</div>
                    <div class="card"><div style="font-size: 250%;"><b>{{ object.objectInfo.gainingsVs12mpercent }}</b></div>Gainings VS 12M %</div>
                    <div class="card"><div style="font-size: 250%;"><b>{{ object.objectInfo.wdpercentSerbia }}</b></div>WD % Serbia</div>
                    <div class="card"><div style="font-size: 250%;"><b>{{ object.objectInfo.wdpercentSector }}</b></div>WD % Sector</div>
                    <div class="card"><div style="font-size: 250%;"><b>{{ object.objectInfo.wdpercentCustomer }}</b></div>WD % Customer</div>
                </div>
            </div>

                <!--
                <div class="object-info-tables">
                <table aria-describedby="Object info table 1" class="info-table">
                    <tr>
                        <th>Shelf Space M</th>
                        <th>Company Shelf Space M</th>
                        <th>Company Shelf Space %</th>
                    </tr>
                    <tr>
                        <td>{{ object.objectInfo.shelfSpaceM }}</td>
                        <td>{{ object.objectInfo.companyShelfSpaceM }}</td>
                        <td>{{ object.objectInfo.companyShelfSpacePercent }}</td>
                    </tr>
                </table>

                <table aria-describedby="Object info table 2" class="info-table">
                    <tr>
                        <th>Gainings 12M (RSD)</th>
                        <th>WD % Serbia</th>
                        <th>WD % Sector</th>
                        <th>WD % Customer</th>
                        <th>Gainings VS 12M %</th>
                    </tr>
                    <tr>
                        <td>{{ object.objectInfo.gainings12Mrsd }}</td>
                        <td>{{ object.objectInfo.wdpercentSerbia }}</td>
                        <td>{{ object.objectInfo.wdpercentSector }}</td>
                        <td>{{ object.objectInfo.wdpercentCustomer }}</td>
                        <td>{{ object.objectInfo.gainingsVs12mpercent }}</td>
                    </tr>
                </table>
            </div>
            -->
        <h4 *ngIf="showDetails == false">Details</h4>
       <em class="fa-solid fa-circle-chevron-down fa-1x" (click)="showObjectInfos()" *ngIf="showDetails == false"></em>
       <em class="fa-solid fa-circle-chevron-up fa-1x" (click)="showObjectInfos()" *ngIf="showDetails == true"></em>
    </div>

    <div class="main fadeIn second">
        <h3>UNRESOLVED FEEDBACKS:</h3>
        <app-feedback [objectName]="objectName" [resolveFeedbacks]="resolveFeedbacks"
            (showFinishButton)="enableFinishButton($event)"></app-feedback>
        <h3>SECONDARY POSITIONS:</h3>

        <app-position [objectName]="objectName" [resolveFeedbacks]="resolveFeedbacks"
            (showFinishButton)="enableFinishButton($event)"></app-position>
        <div class="margintop">
            <button mat-stroked-button color="primary" class="mat-btn" (click)="addToStoreCheck()" *ngIf="showFinishButton && !resolveFeedbacks">Add to StoreCheck</button>
            <button mat-stroked-button color="primary" class="mat-btn" (click)="exit()">Exit</button>
        </div>
    </div>
</div>
