<div class="container fadeInDown">

    <div class="header fadeIn first">
        <div class="head">

            <div class="flex1">

            </div>

            <h2 *ngIf="object" class="flex2">{{object.objectName}}</h2>

            <div class="flex3" *ngIf="workModel !== 'positions'">
                <em class="fa-solid fa-file-powerpoint fa-3x flex3" style="margin-right: 10%;margin-top: 5%;"
                    (click)="openPlanogramDialog()"></em>
            </div>
        </div>

        <div class="object-info-data" *ngIf="showDetails">
            <div class="object-info-slider">
                <div class="card">
                    <div class="obj-info">Address:<strong>{{ object.address }}, {{ object.city }}</strong></div>
                    <div class="obj-info">Format:<strong>{{ object.objectFormat }}</strong></div>
                    <div class="obj-info">Retailer:<strong>{{ object.retailer.retailerName }}</strong></div>
                    <div class="obj-info">Assortment module:<strong>{{ object.objectInfo.assortmentModule }}</strong></div>
                    <div class="obj-info">Number of registers:<strong>{{ object.objectInfo.registersNumber }}</strong></div>
                </div>
                <div class="card">
                    <div class="obj-info">KAM:<strong>{{ object.kam}}</strong></div>
                    <div class="obj-info">Director:<strong>{{ object.director}}</strong></div>
                    <div class="obj-info">Supervisor:<strong>{{ object.supervisor}}</strong></div>
                    <div class="obj-info">Merchandiser:<strong>{{ object.merchandiser}}</strong></div>
                    <div class="obj-info">Commercialist:<strong>{{ object.commercialist}}</strong></div>
                    <div class="obj-info">Requisition days:<strong>{{ object.requisitionDays }}</strong></div>
                    <div class="obj-info">Merchandiser req. days:<strong>{{ object.merchandiserRevisionDays }}</strong></div>
                </div>
            </div>
        
            <div class="object-info-slider">
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.shelfSpaceM }}</strong></div>Shelf Space M
                </div>
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.companyShelfSpaceM }}</strong></div>Company Shelf Space M
                </div>
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.companyShelfSpacePercent }}</strong></div>Company Shelf Space %
                </div>
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.gainings12Mrsd.toLocaleString() }}</strong></div>Gainings 12M (RSD,mil)
                </div>
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.gainingsVs12mpercent }}</strong></div>Gainings VS 12M %
                </div>
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.wdpercentSerbia }}</strong></div>WD % Serbia
                </div>
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.wdpercentSector }}</strong></div>WD % Sector
                </div>
                <div class="card">
                    <div style="font-size: 250%;"><strong>{{ object.objectInfo.wdpercentCustomer }}</strong></div>WD % Customer
                </div>
            </div>
        </div>
        
        <div class="details">
            <h4 *ngIf="showDetails == false" class="detail-text">Details</h4>
            <em class="fa-solid fa-circle-chevron-down fa-lg" (click)="showObjectInfos()" *ngIf="showDetails == false"></em>
            <em class="fa-solid fa-circle-chevron-up fa-lg" (click)="showObjectInfos()" *ngIf="showDetails == true"></em>
        </div>

    <div class="main fadeIn second">
        <div *ngIf="workModel === 'resolveFeedbacks' || workModel === 'addStoreCheck'">
            <br>
            <h3>UNRESOLVED FEEDBACKS:</h3>
            <app-feedback [objectIdCompany]="objectIdCompany" [resolveFeedbacks]="workModel === 'resolveFeedbacks'"
                (showFinishButton)="enableFinishButton($event)"></app-feedback>
        </div>
        <div>
            <br>
        </div>
        <div *ngIf="workModel !== 'resolveFeedbacks'">
            <h3>SECONDARY POSITIONS:</h3>

            <app-position [objectIdCompany]="objectIdCompany" [resolveFeedbacks]="workModel === 'resolveFeedbacks'"
                [positionCheck]="workModel === 'positions'" (showFinishButton)="enableFinishButton($event)">
            </app-position>
        </div>
        <div class="margintop">
           <div class="button-container">
            <button mat-stroked-button color="primary" class="item2" (click)="addToStoreCheck()"
                *ngIf="showFinishButton && workModel === 'addStoreCheck'">Add</button>
                <br>
               
              <br>
             <button mat-stroked-button color="primary" class="item2" style="margin-bottom: 10px; margin-left:10px;"
                (click)="exit()">Exit <mat-icon>exit_to_app</mat-icon></button>
                <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner class="mat-spinner-color" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
            </div>
        </div>

    </div>
</div>
