<div class="fadeInDown">

    <div class="header fadeIn first">
        <div class="head">
            <h1>{{ objectName }}</h1>
            <i class="fa-solid fa-file-pdf fa-3x" (click)="getRetailerPlanogram()"></i>
        </div>
        <div class="object-info-data" *ngIf="showDetails == true">
            <div class="obj-info">
                <ul>
                    <li>Address: {{ object.address }}, {{ object.city }}</li>
                    <li>Format: {{ object.objectFormat }}</li>
                    <li>Retailer: {{ object.retailer.retailerName }}</li>
                    <li>Assortment module: {{ object.objectInfo.assortmentModule }}</li>
                    <li>Number of registers: {{ object.objectInfo.registersNumber }}</li>
                    <li>Director: {{ object.director.firstName }} {{ object.director.lastName }}</li>
                    <li>Commercialist: {{ object.commercialist.firstName }} {{ object.commercialist.lastName }}</li>
                    <li>Supervisor: {{ object.supervisor.firstName }} {{ object.supervisor.lastName }}</li>
                    <li>Director: {{ object.merchandiser.firstName }} {{ object.merchandiser.lastName }}</li>
                    <li>Requisition days: {{ object.requisitionDays }}</li>
                    <li>Merchandiser revision days: {{ object.merchandiserRevisionDays }}</li>
                </ul>
            </div>
            <div class="object-info-tables">
                <table class="info-table">
                    <tr>
                        <th>Shelf Space M</th>
                        <th>Company Shelf Space M</th>
                        <th>Company Shelf Space %</th>
                    </tr>
                    <tr>
                        <td>{{ object.objectInfo.shelfSpaceM }}</td>
                        <td>{{ object.objectInfo.companyShelfSpaceM }}</td>
                        <td>{{ object.objectInfo.companyShelfSpacePercent }}</td>
                    </tr>
                </table>

                <table class="info-table">
                    <tr>
                        <th>Gainings 12M (RSD)</th>
                        <th>WD % Serbia</th>
                        <th>WD % Sector</th>
                        <th>WD % Customer</th>
                        <th>Gainings VS 12M %</th>
                    </tr>
                    <tr>
                        <td>{{ object.objectInfo.gainings12Mrsd }}</td>
                        <td>{{ object.objectInfo.wdpercentSerbia }}</td>
                        <td>{{ object.objectInfo.wdpercentSector }}</td>
                        <td>{{ object.objectInfo.wdpercentCustomer }}</td>
                        <td>{{ object.objectInfo.gainingsVs12mpercent }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <i class="fa-solid fa-circle-chevron-down fa-1x" (click)="showObjectInfos()" *ngIf="showDetails == false"></i>
        <i class="fa-solid fa-circle-chevron-up fa-1x" (click)="showObjectInfos()" *ngIf="showDetails == true"></i>
    </div>


    <div class="main fadeIn second">
        <h3>UNRESOLVED FEEDBACKS:</h3>
        <app-feedback [objectName]="objectName" [resolveFeedbacks]="resolveFeedbacks"
            (showFinishButton)="enableFinishButton($event)"></app-feedback>
        <h3>SECONDARY POSITIONS:</h3>

        <app-position [objectName]="objectName" [resolveFeedbacks]="resolveFeedbacks"
            (showFinishButton)="enableFinishButton($event)"></app-position>
        <div class="margintop">

            <button class="item2" *ngIf="showFinishButton && !resolveFeedbacks" (click)="addToStoreCheck()">ADD TO
                STORECHECK</button>

            <button class="item2" (click)="exit()">Exit</button>

        </div>
    </div>


</div>